.accordion-parent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.accordion {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  .toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 10px 0px;
    fill: #fff;
    color: #fff;
    transition: color 0.15s ease, fill 0.15s ease;
    font-weight: 400;
    border: 0;
    background-color: transparent;

    .direction-indicator {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15px;
      font-weight: 600px;
    }
    p {
      margin: 0;
    }
  }
  .content-parent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
    color: black;
    .content {
      ul {
        padding: 10px 16px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        li {
          a {
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.accordion:first-child .toggle {
  border-bottom: 0;
}

.accordion.toggled .content-parent {
  max-height: 580px;
  transition: max-height 0.25s ease-in;
}
