@import "../../style/partials/varaible.scss";
@import "../../style/partials/mixin.scss";

#blog-packages {
  padding: $padding-random7;
  @media screen and (max-width: 768px) {
    padding: $padding-random8;
  }
  .container {
    .row {
      .blog-cards {
        .blog-img {
          width: $width2;
          height: $height14;
          img {
            width: $width2;
            height: $height2;
            object-fit: $object-ft1;
            object-position: $object-post1;
            border-top-left-radius: $border-top-left-radius1;
            border-top-right-radius: $border-top-right-radius1;
          }
        }
        .cards-bottom {
          box-shadow: $box-shadow1;
          border-bottom-left-radius: $border-bottom-left-radius1;
          border-bottom-right-radius: $border-bottom-right-radius1;
          .blog-tittle {
            padding: $padding-random9;
            p {
              color: $color8;
              font-weight: $fn-weight3;
              background: $back-color13;
              border-radius: $br-radius5;
              padding: $padding-random10;
              font-size: $fn-size9;
              display: $display2;
              margin: $margin1;
            }
            h2 {
              color: $back-color5;
              line-height: $ln-height6;
              font-size: $fn-size16;
              font-weight: $fn-weight3;
              margin:$margin3;
              cursor: $cursor;
              transition:$transition1;
              &:hover {
                color: $color4;
              }
            }
          }
          .person-line {
            @media screen and (max-width: 768px) {
              padding: $padding-random12;
            }
            border-top: $border-top1;
            @include Person-line(space-between, center);
            padding: $padding-random11;

            .person-about {
              @include Person(center, 19px);

              img {
                width: $width15;
                height: $height15;
                object-fit: $object-ft2;
                object-position: $object-post1;
                border-radius: $br-radius1;
              }
              .person-name {
                h4 {
                  margin: $margin1;
                  font-size: $fn-size7;
                  color: $back-color5;
                  font-weight: $fn-weight1;
                  cursor: $cursor;
                  transition: $transition1;
                  &:hover {
                    color: $color4;
                  }
                }
                h5 {
                  @media screen and (max-width: 768px) {
                  }
                  margin: $margin1;
                  font-size: $fn-size9;
                  color: $color14;
                  font-weight: $fn-weight2;
                  padding-top: $padding-top10;
                }
              }
            }
            h6 {
              font-size: $fn-size4;
              color: $color14;
              text-transform: $text-transform1;
              letter-spacing: $letter-spacing2;
              font-weight: $fn-weight3;
            }
          }
        }
      }
    }
  }
}
