@import "../../style/partials/varaible.scss";
@import "../../style/partials/mixin.scss";

#package {
    padding: $padding-random8;
  .container {
    .row {
      .package-cards {
        box-shadow:$box-shadow4;
        padding: $pd-default2;
        text-align: $txt-align1;
        p {
          color: $color6;
          font-size:$fn-size19;
          font-weight: $fn-weight3;
        }
        .package-img {
          padding-top:$padding-top11;

          img {
            width:$width-def5;
            height: $hgt10;
            object-fit:$object-ft2;
            object-position: $object-post1;
          }
        }
        .package-ul {
          list-style:$list-style1;
          padding-top:$padding-top12;
          
          .same {
            padding: $pd-default3;
            font-size: $fn-size7;
            border-bottom: $border-bottom2;
            color: $color7;
          }
          .different {
            padding: $pd-default3;
            font-size:$fn-size7;
            color: $color7;
          }
        }
        .plan {
          background: $back-plan1;
          color:$color1;
          font-weight: $fn-weight1;
          padding: $pd-default4;
          border: $br-radius6;
          border-radius:$br-radius2;
          text-transform: $text-transform2;
          cursor: $cursor;
          transition: $transition1;
          &:hover{
            filter: $filter-two;
          }
        }
      }
    }
  }
}
