@import "../../style/partials/varaible.scss";
@import "../../style/partials/mixin.scss";

#featured {
  padding: $padding-random19;
  .container {
    .row {
      .featured-item {
        @include CardHover(center, center, column);

        .featured-img {
          width: $width10;
          height: $height11;
          background-color: $back-color18;
          @include Person-line(center, center);

          border-radius: 5px;
          img {
            width: $width-def1;
            height: $hgt8;
            object-fit: $object-ft2;
            object-position: $object-post1;
          }
        }
        .featured-text {
          text-align: $txt-align1;
          p {
            @media screen and (max-width: 768px) {
              font-size: $fn-size18;
            }
            color: $color6;
            font-size: $fn-size11;
            font-weight: $fn-weight1;
            margin: $margin4;
            cursor:$cursor;
            transition:$transition1;
            &:hover {
              color: $color8;
            }
          }
          h2 {
            @media screen and (max-width: 768px) {
              width:$width-def2;
            }
            margin-bottom: $margin1;
            font-size: $fn-size4;
            font-weight: $fn-weight2;
            color:$color7;
            line-height: $ln-height8;
            width:$width-def3;
          }
        }
      }
    }
  }
}
