@import "../../style/partials/varaible.scss";
@import "../../style/partials/mixin.scss";
main {

  #our-services21 {
    background: $back-color16;
    padding-top: $padding-top8;

    .container {
      .row {
        .ourservices-tittle {
          @include CardHover(center, center, column);
          p {
            text-transform: $text-transform1;
            font-size: $fn-size2;
            color: $color8;
          }
          h2 {
            @media screen and (max-width: 768px) {
              font-size: $fn-size5;
            }
            font-size: $fnt-sz4;
            line-height: $ln-height4;
            text-transform: $text-transform2;
            color: $color6;
            font-weight: $fn-weight3;
          }
        }
      }
    }
  }
}
