@import "../../style/partials/varaible.scss";
@import "../../style/partials/mixin.scss";
main {
  #projectstyle2 {
    .back-img {
      @media screen and (max-width: 768px){
        height: $height5;
      }
      background-image: url(http://consultar-react.wpocean.com/static/media/page-title.be0e30a3.jpg);
      background-position: $back-post1;
      background-repeat: $back-repeat;
      background-size:$back-size1;
      width:$width2;
      height:$height6;
      position:$position-rela;

      .breadcumb-text {
        @media screen and (max-width: 768px){
          height: $height5;
        }
        @include CardHover(center,center,column);
        background-color: $back-color5;
        filter: $filter-one;
        height: $height6;
        p {
          @media screen and (max-width: 768px){
            font-size: $fn-size5;
          }
          color: $color1;
          font-size:$fn-size6;
          font-weight:$fn-weight1;
        }
        .pricing-ul {
          padding: $padding-default;
          list-style: $list-style1;
          @include Person(center,5px);


          .pricing-li1 {
            a {
              text-decoration: $txt-decoration2;
              color: $color1;
              font-size: $fn-size7;
              font-weight: $fn-weight1;
              transition: $transition1;
              &:hover {
                color: $color4;
                font-size:$fn-size7;
                font-weight: $fn-weight1;
              }
            }
          }
          .pricing-li2 {
            color: $color5;

            font-size: $fn-size7;
            font-weight: $fn-weight1;
          }
        }
      }
    }
  }
  #projects-galery2s {
    padding-top:$pd-bottom1;
    .container {
      .row {
        .projectgalery-text {
          @media screen and (max-width: 768px) {
            @include Project(column, baseline);
          }
          @include Person-line(space-between, flex-end);
          .text1 {
            p {
              text-transform: $text-transform1;
              font-size: $fn-size2;
              color: $color8;
            }
            h2 {
              @media screen and (max-width: 768px) {
                font-size: $fn-size5;
                padding-bottom: $padding-top13;
              }
              font-size: $fnt-sz4;
              line-height: $ln-height4;
              text-transform: $text-transform2;
              color: $color6;
              font-weight: $fn-weight3;
            }
          }
          h4 {
            a {
              text-decoration: $txt-decoration2;
              padding: $pd-default19;
              display: $display2;
              border: $border5;
              border-radius: $br-radius4;
              color: $color1;
              background: $back-color7;
              font-size: $fn-size4;
              text-transform: $text-transform1;
              font-weight: $fn-weight2;
            }
          }
        }
      }
    }
  }
}
