@import "../../style/partials/varaible.scss";
@import "../../style/partials/mixin.scss";
main {

  #projects-galery2s {
    padding-top:$pd-bottom1;
    .container {
      .row {
        .projectgalery-text {
          @media screen and (max-width: 768px) {
            @include Project(column, baseline);
          }
          @include Person-line(space-between, flex-end);
          .text1 {
            p {
              text-transform: $text-transform1;
              font-size: $fn-size2;
              color: $color8;
            }
            h2 {
              @media screen and (max-width: 768px) {
                font-size: $fn-size5;
                padding-bottom: $padding-top13;
              }
              font-size: $fnt-sz4;
              line-height: $ln-height4;
              text-transform: $text-transform2;
              color: $color6;
              font-weight: $fn-weight3;
            }
          }
          h4 {
            a {
              text-decoration: $txt-decoration2;
              padding: $pd-default19;
              display: $display2;
              border: $border5;
              border-radius: $br-radius4;
              color: $color1;
              background: $back-color7;
              font-size: $fn-size4;
              text-transform: $text-transform1;
              font-weight: $fn-weight2;
            }
          }
        }
      }
    }
  }
}
