@import "../../style/partials/varaible.scss";
@import "../../style/partials/mixin.scss";

#inner {
  background: $back-color16;
  padding:$pd-default5;
  .container {
    .row {
      .services-cards {
        background: $back-color3;
        padding:$pd-default6;
        .services-image {
          background-color: $back-color18;
          width:$width-def6;
          height:$hgt12;
          @include Person-line (center,center);
          border-radius:$br-radius4;
          img {
            width:$width11;
            height: $height12;
            object-fit: $object-ft2;
            object-position: $object-post1;
          }
        }
        .cards-tittle {
          p {
            color: $color6;
            font-size:$fn-size11;
            font-weight: $fn-weight1;
            margin: $margin4;
            cursor: $cursor;
            transition:$transition1;
            &:hover{
                color: $color8;
            }
          }
          h4 {
            margin-bottom: $margin1;
            font-size: $fn-size4;
            font-weight: $fn-weight2;
            color: $color7;
            line-height: $ln-height9;
          }
        }
      }
    }
  }
}
