@import "../../style/partials/varaible.scss";
@import "../../style/partials/mixin.scss";

#blog-packagestwo {
  .container {
    .row {
      .benefitcards {
        background: $back-color3;
        padding:$padding-random6 ;
        margin-bottom:$margn-btm3;
        box-shadow: $box-shadow1;
        .cards-img {
          width: $width11;
          height: $height12;
          img {
            width: $width2;
            height:$height2;
            object-fit: $object-ft1;
            object-position: $object-post1;
          }
        }
        .benefits-text {
          p {
            font-size: $fn-size2;
            font-weight: $fn-weight3;
            margin:$margin2;
            a {
                text-decoration: $txt-decoration2;
                color: $color6;
                transition: $transition2;
                &:hover{
                    color: $color4;
                }
            }
          }
          h2 {
            font-size: $fn-size9;
            color: $color7;
            font-weight: $fn-weight2;
            line-height:$ln-height3;
          }
        }
      }
    }
  }
}
