@import "../../style/partials/varaible.scss";
@import "../../style/partials/mixin.scss";
main {
  #contactpage {
    .back-img {
      @media screen and (max-width: 768px){
        height: $height5;
      }
      background-image: url(http://consultar-react.wpocean.com/static/media/page-title.be0e30a3.jpg);
      background-position: $back-post1;
      background-repeat: $back-repeat;
      background-size:$back-size1;
      width:$width2;
      height:$height6;
      position:$position-rela;

      .breadcumb-text {
        @media screen and (max-width: 768px){
          height: $height5;
        }
        @include CardHover(center,center,column);
        background-color: $back-color5;
        filter: $filter-one;
        height: $height6;
        p {
          @media screen and (max-width: 768px){
            font-size: $fn-size5;
          }
          color: $color1;
          font-size:$fn-size6;
          font-weight:$fn-weight1;
        }
        .pricing-ul {
          padding: $padding-default;
          list-style: $list-style1;
          @include Person(center,5px);


          .pricing-li1 {
            a {
              text-decoration: $txt-decoration2;
              color: $color1;
              font-size: $fn-size7;
              font-weight: $fn-weight1;
              transition: $transition1;
              &:hover {
                color: $color4;
                font-size:$fn-size7;
                font-weight: $fn-weight1;
              }
            }
          }
          .pricing-li2 {
            color: $color5;

            font-size: $fn-size7;
            font-weight: $fn-weight1;
          }
        }
      }
    }
  }
  #contact-section {
    .container {
      .row {
        @include Person-line(center,center);
        .wpo-contact-info {
          @include CardHover(center,center,column);
          p {
            @media screen and (max-width: 768px) {
              font-size: $fn-size8;
            }
            font-size: $fn-sz10;
            font-weight: $fn-weight3;
            margin:$margin6;
            color: $color6;
          }
          h2 {
            @media screen and (max-width: 768px) {
              width: $width-def16;
            }
            font-size: $fn-size9;
            color: $color7;
            font-weight: $fn-weight2;
            line-height:$ln-height3;
            width: $width-def22;
            text-align: $txt-align1;
          }
        }
        .contact-form-area {
          @media screen and (max-width: 768px){
            padding:$pd-dft6;
          }
          padding:$pd-default6;
          background: $back-color3;
          box-shadow:$box-shadow7 ;
          margin-top:$margin7;
          position: $position-rela;
          z-index: $z-index5;
          form {
            .row {
              .form-field {
               
                .name {
              
                  background:$bck-color2 ;
                  width:$width2;
                  height:$hgt21;
                  border: $border1;
                  border-radius: $br-radius9;
                  box-shadow: $box-shadow3 !important;
                  padding-left:$pd-dft;
                }
              }
              .form-field {
                .lastname {
                  @media screen and (max-width: 768px){
                    margin-top: $margin-top5;
                  }
                  background:$bck-color2 ;
                  width:$width2;
                  height:$hgt21;
                  border: $border1;
                  border-radius: $br-radius9;
                  box-shadow: $box-shadow3 !important;
                  padding-left:$pd-dft;
                }
              }
              .form-field {
                .emailss {
                  background:$bck-color2 ;
                  width:$width2;
                  height:$hgt21;
                  border: $border1;
                  border-radius: $br-radius9;
                  box-shadow: $box-shadow3 !important;
                  padding-left:$pd-dft;
                  margin-top:$margin-top6;
                }
              }
              .form-field {
                .subject {
                  background:$bck-color2 ;
                  width:$width2;
                  height:$hgt21;
                  border: $border1;
                  border-radius: $br-radius9;
                  box-shadow: $box-shadow3 !important;
                  padding-left:$pd-dft;
                  margin-top:$margin-top6;
                }
              }
              .form-field {
                .textarea {
                  height: $hgt22;
                  padding-top: $padding-top15;
                  background: $bck-color2;
                  width:$width2;
                  margin-top: $margin-top6;
                  border: $border1;
                  border-radius:$br-radius9;
                  box-shadow:  $box-shadow3 !important;
                  padding-left:$pd-dft;
                }
              }
              .form-submit {
                @include Person-line(center,center);
                margin-top: $margin-top7;
                .sendmessage {
                  padding:$pd-df7 ;
                  cursor: $cursor;
                  text-transform: $text-transform2;
                  border-radius: $br-radius2;
                  color: $color1;
                  font-weight: $fn-weight1;
                  height: $hgt23;
                  background:$back-color6;
                  border:  $border1;
                }
              }
            }
          }
        }
      }
    }
  }
}
