@import "../../style/partials/varaible.scss";
@import "../../style/partials/mixin.scss";
#facts {
  @media screen and (max-width: 768px){
    padding:$pd-df26 ;
  }
    padding:$pd-dft1 ;
    .container {
      .row {
        .facts-tittle {
          @media screen and (max-width: 768px) {
            width:$width-def19 ;
            padding:$pd-dft2;
            @include Facts-tittle(column,18px);
          }
          padding:$pd-dft3;
          border-radius:$br-radius7;
          box-shadow: $box-shadow4;
          @include Person-line(space-between,center);
          .text {
            @include CardHover(center,center,column);
            p {
              @media screen and (max-width: 768px) {
                font-size:$fn-size5;
              }
              -webkit-text-stroke-color: $back-plan1;
              -webkit-text-fill-color: $color1;
              -webkit-text-stroke-width: $width-def18;
              font-weight:$fn-weight5;
              color: $color8;
              font-size: $fn-sz8;
              margin: $margin1;
            }
            h2 {
              @media screen and (max-width: 768px) {
                font-size: $fn-size4;
              }
              margin: $margin1;
              color: $color6;
              font-size: $fn-size12;
            }
          }
          .text1 {
            @include CardHover(center,center,column);
            p {
              @media screen and (max-width: 768px) {
                font-size:$fn-size5;
              }
              -webkit-text-stroke-color: $back-plan2;
              -webkit-text-fill-color: $color1;
              -webkit-text-stroke-width:$width-def18;
              font-weight: $fn-weight5;
              color: $color8;
              font-size: $fn-sz8;
              margin:$margin1;
            }
            h2 {
              @media screen and (max-width: 768px) {
                font-size: $fn-size4;
              }
              margin:$margin1;
              color: $color6;
              font-size:$fn-size12;
            }
          }
          .text2 {
            @include CardHover(center,center,column);
            p {
              @media screen and (max-width: 768px) {
                font-size:$fn-size5;
              }
              -webkit-text-stroke-color: $back-plan4;
              -webkit-text-fill-color: $color1;
              -webkit-text-stroke-width:$width-def18;
              font-weight:$fn-weight5;
              color: $color8;
              font-size:$fn-sz8;
              margin: $margin1;
            }
            h2 {
              @media screen and (max-width: 768px) {
                font-size: $fn-size4;
              }
              margin: $margin1;
              color: $color6;
              font-size: $fn-size12;
            }
          }
          .text3 {
            @include CardHover(center,center,column);
            p {
              @media screen and (max-width: 768px) {
                font-size:$fn-size5;
              }
              -webkit-text-stroke-color: $color8;
              -webkit-text-fill-color: $color1;
              -webkit-text-stroke-width: $width-def18;
              font-weight:$fn-weight5;
              color: $color8;
              font-size:$fn-sz8;
              margin:$margin1;
            }
            h2 {
              @media screen and (max-width: 768px) {
                font-size: $fn-size4;
              }
              margin: $margin1;
              color: $color6;
              font-size:$fn-size12;
            }
          }
        }
      }
    }
  }