@import "../../style/partials/varaible.scss";
@import "../../style/partials/mixin.scss";
main {
  #testimional-page {
    .back-img {
      @media screen and (max-width: 768px) {
        height: $height5;
      }
      background-image: url(http://consultar-react.wpocean.com/static/media/page-title.be0e30a3.jpg);
      background-position: $back-post1;
      background-repeat: $back-repeat;
      background-size: $back-size1;
      width: $width2;
      height: $height6;
      position: $position-rela;

      .breadcumb-text {
        @media screen and (max-width: 768px) {
          height: $height5;
        }
        @include BreadCumb(column, center, center);

        background-color: $back-color5;
        filter: $filter-one;
        height: $height6;
        p {
          @media screen and (max-width: 768px) {
            font-size: $fn-size5;
          }
          color: $color1;
          font-size: $fn-size6;
          font-weight: $fn-weight1;
        }
        .pricing-ul {
          padding: $padding-default;
          list-style: $list-style1;
          @include Pricing-UL(center, 5px);

          .pricing-li1 {
            a {
              text-decoration: $txt-decoration2;
              color: $color1;
              font-size: $fn-size7;
              font-weight: $fn-weight1;
              transition: $transition1;
              &:hover {
                color: $color4;
                font-size: $fn-size7;
                font-weight: $fn-weight1;
              }
            }
          }
          .pricing-li2 {
            color: $color5;

            font-size: $fn-size7;
            font-weight: $fn-weight1;
          }
        }
      }
    }
  }
  #testimional-tittle {
    .container {
      .row {
        .wpo-testimional-tittle {
          padding-top: $padding-top6;
          @include Testimional(center, space-between);

          .tittle1 {
            position: $position-rela;
            .queto {
              background-color: $back-color7;
              width: $width9;
              height: $height10;
              @include Testimional(center, center);

              margin: $margin1;
              @media screen and (max-width: 768px) {
                width: $width10;
                height: $height11;
              }
              svg {
                color: $color1;
                font-size: $fn-size10;
              }
            }
            .our-clients {
              @media screen and (max-width: 768px) {
                left: $left1;
                font-size:$fn-size12;
                bottom: $bottom1;
                width:$width13;
              }
              color: $color6;
              font-size:$fn-size13;
              font-weight: $fn-weight3;
              margin: $margin1;
              position:$post-absol;
              bottom: $bottom2;
              left:$left2;
              width: $width12;
              span {
                color:$color10 ;
              }
            }
          }
          .tittle2 {
            @include OurClients(center, 16px);

            .two-arrow {
              @media screen and (max-width: 768px) {
                display: $display1;
              }
              @include Testimional(center, center);
              background: $back-color3;
              width: $width11;
              height: $height12;
              line-height: $ln-height5;
              border: $border2;
              color: $color9;
              padding: $padding-default;
              cursor: $cursor;
              position: $position-rela;
              margin: $margin1;

              svg {
                color: $color8;
                font-size: $fn-size11;
              }
            }
            h5 {
              @include Testimional(center, center);
              background: $back-color3;
              width: $width11;
              height: $height12;
              line-height: $ln-height5;
              cursor: $cursor;
              border: $border2;
              color: $color9;
              padding: $padding-default;
              margin: $margin1;
              svg {
                color: $color8;
                font-size: $fn-size11;
              }
            }
          }
        }
      }
    }
  }
}
