@import "../../style/partials/varaible.scss";
@import "../../style/partials/mixin.scss";

main {
  #exploreslide {
    background:$back-color16 ;
    padding:$padding-random17;
    .container {
      .row {
        .explore-card {
          padding:$padding-random18;
          background-color: $back-color3;
          @include CardHover(center, center, column);
          width: $width2;
          position: $position-rela;
        }
        h3 {
          width: $width19;
          height:$hgt6;
          background-color:$back-color17 ;
          @include  Person-line(center,center);
      
          border-radius: $br-radius1;
          img {
            width: $width20;
            height:$hgt7;
            object-fit:$object-ft2;
            object-position:$object-post1;
          }
        }
        .card-text {
          @include CardHover(center,center,column);
     
          p {
            color: $color6;
            font-size:$fn-size2;
            font-weight: $fn-weight1;
          }
          h2 {
            font-size:$fnt-size1;
            color: $color7;
            line-height:$ln-height7;
            text-align: $txt-align1;
          }
        }
      }
    }
  }
}
