main {
  #exploreslide {
    background: #f4f8fc;
    padding: 3rem 0rem 3rem;
    .container {
      .row {
        .explore-card {
          padding: 50px 40px;
          background-color: #fff;
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: center;
          justify-content: center;
          position: relative;
      
      
          }
          h3 {
            width: 90px;
            height: 90px;
            background-color: #f4f6fd;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            img {
              width: 55px;
              height: 55px;
              object-fit: contain;
              object-position: center;
            }
          }
          .card-text {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            p {
              color: #232f4b;
              font-size: 20px;
              font-weight: 500;
            }
            h2 {
                font-size: 16px;
                color: #4f555a;
                line-height: 29px;
            text-align: center;
            }
          }
        }
      }
    }
  }

