@import "../../style/partials/varaible.scss";
@import "../../style/partials/mixin.scss";
main {
  #projectsingle {
    .back-img {
      @media screen and (max-width: 768px){
        height: $height5;
      }
      background-image: url(http://consultar-react.wpocean.com/static/media/page-title.be0e30a3.jpg);
      background-position: $back-post1;
      background-repeat: $back-repeat;
      background-size:$back-size1;
      width:$width2;
      height:$height6;
      position:$position-rela;

      .breadcumb-text {
        @media screen and (max-width: 768px){
          height: $height5;
        }
        @include CardHover(center,center,column);
        background-color: $back-color5;
        filter: $filter-one;
        height: $height6;
        p {
          @media screen and (max-width: 768px){
            font-size: $fn-size5;
          }
          color: $color1;
          font-size:$fn-size6;
          font-weight:$fn-weight1;
        }
        .pricing-ul {
          padding: $padding-default;
          list-style: $list-style1;
          @include Person(center,5px);


          .pricing-li1 {
            a {
              text-decoration: $txt-decoration2;
              color: $color1;
              font-size: $fn-size7;
              font-weight: $fn-weight1;
              transition: $transition1;
              &:hover {
                color: $color4;
                font-size:$fn-size7;
                font-weight: $fn-weight1;
              }
            }
          }
          .pricing-li2 {
            color: $color5;

            font-size: $fn-size7;
            font-weight: $fn-weight1;
          }
        }
      }
    }
  }
  #project-content {
    padding: 6rem 0rem 6rem;
    .container {
      .row {
        display: flex;
        align-items: center;
        justify-content: center;
        .projectsingle-img {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .project-content1 {
          @media screen and (max-width: 768px){
            flex-wrap: wrap;
          }
          padding: 60px 0;
          display: flex;
          gap: 16px;
          .project-content1-left {
            p {
              @media screen and (max-width: 768px){
                width: 330px;
              }
              font-size: 28px;
              color: #232f4b;
              font-weight: 600;
              margin-bottom: 25px;
            }
            h2 {
              @media screen and (max-width: 768px){
                width: 330px;
              }
              font-size: 15px;
              color: #4f555a;
              font-weight: 400;
              line-height: 28.8px;
              width: 691px;
              margin-bottom: 30px;
            }
            h3 {
              @media screen and (max-width: 768px){
                width: 330px;
              }
              font-size: 15px;
              color: #4f555a;
              font-weight: 400;
              line-height: 28.8px;
              width: 691px;
            }
          }
          .project-content1-right {
            width: 380px;
            ul {
              @media screen and (max-width: 768px){
                padding: 20px 20px;
              }
              list-style-type: none;
              padding: 50px 40px;
              border: 1px solid #e1e1e1;
              .client {
                padding: 15px 0;
                font-size: 16px;
                color: #232f4b;
                border-bottom: 1px solid #ebebeb;
                font-weight: 600;
                display: flex;
                gap: 44px;

                span {
                  color: #4f555a;
                  font-weight: 400;
                }
              }
              .tag {
                padding: 15px 0;
                font-size: 16px;
                color: #232f4b;
                font-weight: 600;
                display: flex;
                gap: 44px;
                span {
                  color: #4f555a;
                  font-weight: 400;
                }
              }
            }
          }
        }
        .projectsingle-img2 {
          display: flex;
          gap: 22px;
          img {
            @media screen and (max-width: 768px) {
              width: 160px;
              height: 130px;
            }
            width: 527px;
            height: 450px;
            object-fit: cover;
            object-position: center;
          }
        }
        .best {
          color: #232f4b;
          margin-bottom: 30px;
          font-size: 30px;
          font-weight: 600;
          padding-top: 3rem;
        }
        h4 {
          font-size: 15px;
          color: #4f555a;
          font-weight: 400;
          line-height: 28.8px;
          padding-top: 8px;
        }
        h1 {
          font-size: 15px;
          color: #4f555a;
          font-weight: 400;
          line-height: 28.8px;
          padding-top: 12px;
        }
        .tag-share {
          @media screen and (max-width: 768px){
            flex-wrap: wrap;
            display: flex;
            align-items: baseline;
            justify-content: center;
            gap: 23px;
          }
          margin: 60px 0 40px;
          background: #eceffb;
          padding: 15px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .tags {
            ul {
              list-style: none;
              display: flex;
              gap: 13px;
              margin: 0;
              .share-li {
                float: left;
                a {
                  @media screen and (max-width: 768px){
                    font-size: 12px;
                    padding: 6px 10px;
                  }
                  text-decoration: none;
                  background-color: #fff;
                  display: block;
                  padding: 6px 18px;
                  color: #232f4b;
                  border-radius: 50px;
                  cursor: pointer;
                  transition: 0.3s ease-in-out;
                  &:hover {
                    background-color: #3757f7;
                    color: #fff;
                  }
                }
              }
            }
          }
          .share {
            display: flex;
            align-items: center;
            gap: 12px;
            span {
              @media screen and (max-width: 768px){
                font-size: 15px;
              }
              color: #232f4b;
              font-size: 17px;
            }
            p {
              @media screen and (max-width: 768px){
                width: 30px;
                height: 30px;
              }
              border: 1px solid #dadada;
              padding: 0;
              width: 40px;
              height: 40px;
              margin: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              cursor: pointer;
              transition: 0.3s ease-in-out;
              &:hover {
                color: #fff;
                border-color: #3757f7;
                background-color: #3757f7;
              }
              svg {
                font-size: 20px;
              }
            }
          }
        }
        .more-posts {
          @media screen and (max-width: 768px){
            flex-wrap: wrap;
            gap: 10px;
          }
            display: flex;
            align-items: center;
            justify-content: space-between;
          .previous-post {
            @media screen and (max-width: 768px){
              border: 1px solid #ebebeb;
              padding: 20px;
            }
            display: flex;
            align-items: center;
            gap: 17px;

            img {
              width: 80px;
              height: 80px;
              object-fit: contain;
              object-position: center;
            }
            .previous-text {
              h5 {
                font-size: 15px;
                color: #4f555a;
                font-weight: 400;
              }
              h6 {
                font-size: 17px;
                font-weight: 600;
                margin: 0;
              }
            }
          }
          .next-post {
            @media screen and (max-width: 768px){
              border: 1px solid #ebebeb;
              padding: 20px;
            }
            display: flex;
            align-items: center;
            gap: 17px;

            img {
              width: 80px;
              height: 80px;
              object-fit: contain;
              object-position: center;
            }
            .previous-text {
              h5 {
                font-size: 15px;
                color: #4f555a;
                font-weight: 400;
              }
              h6 {
                font-size: 17px;
                font-weight: 600;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
