@import "../../../style/partials/varaible.scss";
@import "../../../style//partials//mixin.scss";
footer {
  .foot-top {
    @media screen and (max-width: 768px) {
      padding: $padding-random;
    }
    background-color: $back-color1;
    padding: $padding-top1;
    .container {
      .row {
        .line1 {
          .sitelogo2 {
            width: $width1;
            height: $height1;
            img {
              width: $width2;
              height: $height2;
              object-fit: $object-ft1;
              object-position: $object-post1;
              cursor: $cursor;
            }
          }
          p {
            margin: $margin1;
            font-size: $fnt-size1;
            color: $color1;
            margin-bottom: $margin-btm1;
            line-height: $ln-height1;
            padding-top: $padding-top2;
          }
          .social-media {
            @include SocialMedia(center, flex-start, 20px);
            padding-top: $padding-top3;
            h2 {
              margin: $margin1;
              width: $widht3;
              height: $height3;
              background: $back-color2;
              border-radius: $br-radius1;
              @include SocialMedia2(center, center);
              cursor: $cursor;
              transition: $transition1;
              &:hover {
                background-color: $back-color3;
                svg {
                  color: $color2;
                }
              }
              svg {
                color: $color1;
              }
            }
          }
        }
        .line2 {
          h3 {
            font-size: $fn-size2;
            color: $color1;
            margin: $margin1;
            text-transform: $text-transform1;
          }
          .foot-contact {
            list-style: $list-style1;
            padding: $padding-default;
            padding-top: $padding-top4;
            @include FootContact(column, 21px);

            li {
              color: $color3;
              font-size: $fn-size3;
              @include FootContact-li(flex-start, 8px);
            }
          }
        }
        .line3 {
          h3 {
            font-size: $fn-size2;
            color: $color1;
            margin: $margin1;
            text-transform: $text-transform1;
          }
          .foot-services {
            list-style: $list-style1;
            padding:$padding-default;
            padding-top: $padding-top4;
            @include FootServices(column,14px);
           
            li {
              color:$color1;
              font-size: $fn-size3;
              cursor: $cursor;
              transition:$transition1;
              &:hover {
                text-decoration: $txt-decoration1;
              }
            }
          }
        }
        .line4 {
          h3 {
            font-size: $fn-size2;
            color:$color1;
            margin:$margin1;
            text-transform: $text-transform1;
          }
          .foot-projects1 {
            padding:$padding-default;
            list-style: $list-style1;
            @include FootProjects(center,7px);
        
            margin: $margin1;
            padding-top:$padding-top4;
            li {
              a {
                text-decoration: $txt-decoration2;
                img {
                  width: $width4;
                  height:$width4;
                }
              }
            }
          }
          .foot-projects2 {
            padding: $padding-default;
            list-style: $list-style1;
            @include FootProjects(center,7px);
            padding-top: $padding-top5;
            li {
              a {
                text-decoration: $txt-decoration2;
                img {
                  width: $width4;
                  height: $height4;
                }
              }
            }
          }
        }
      }
    }
  }
  .foot-bottom {
    background: $back-color4;
    padding: $pd-one;
    .container {
      .row {
        .bottom-text {
          p {
            line-height:$ln-height2;
            color:$color1;
            font-size: $fn-size4;
            margin:$margin1;
            text-align: $txt-align1;
          }
        }
      }
    }
  }
}
