@import "../../style/partials/varaible.scss";
@import "../../style/partials/mixin.scss";
main {
  #problems8 {
    @media screen and (max-width: 768px) {
      padding: $padding-default;
      background-color: $back-color20;
    }
    padding: $pd-default11;
    border-bottom: $border-bottom3;
    .container {
      .row {
        .your-problems {
          @media screen and (max-width: 768px) {
            padding: $pd-default3;
            border-top: $border4;
          }
          padding: $pd-default12;
          p {
            @media screen and (max-width: 768px) {
              font-size: $fn-size7;
            }
            margin: $margin1;
            font-size: $fn-size18;
            color: $color16;
            font-weight: $fn-weight1;
          }
          h2 {
            @media screen and (max-width: 768px) {
              font-size: $fn-size20;
              line-height: $ln-height10;
            }
            font-size: $fnt-sz1;
            font-weight: $fn-weight4;
            line-height: $ln-height11;
            margin: $margin;
            color: $color6;
          }
          h3 {
            font-size: $fn-size2;
            color: $color17;
            line-height: $ln-height12;
            padding-left: $padding-top12;
            border-left: $border-left1;
            margin-bottom: $pd-default2;
          }
          .started {
            padding: $pd-default13;
            cursor: $cursor;
            text-transform: $text-transform2;
            border-radius: $br-radius2;
            color: $color1;
            height: $hgt15;
            font-weight: $fn-weight1;
            background: $back-color6;
            border: $border1;
          }
        }
        .right-img {
          width: $width-def8;
          height: $height2;
          position: $position-rela;
          img {
            @media screen and (max-width: 768px) {
              display: $display1;
            }
            width: $width2;
            height: $height2;
            object-fit: $object-ft1;
            object-position: $object-post1;
          }
          .happy-clients {
            @media screen and (max-width: 768px) {
              display: $display1;
            }
            position: $post-absol;
            bottom: $bottom4;
            left: $left4;
            padding:$pd-default14;
            background: $back-color3;
            border-radius: $br-radius7;
            box-shadow: $box-shadow6;
            @include Person-line(center,baseline);
            .clients-text {
              p {
                font-size:$fnt-sz2;
                color: $color6;
                margin: $margin1;
                font-weight:$fn-weight3;
              }
              h3 {
                margin-bottom:$margin1;
                font-size: $fn-size18;
                color:$color18 ;
                font-weight: $fn-weight3;
              }
            }
            .clients-img {
              img {
                width:$width-def7;
                height: $hgt14;
                object-fit:$object-ft2;
                object-position: $object-post1;
                border-radius: $br-radius1;
              }
            }
          }
          .video-btn {
            @media screen and (max-width: 768px) {
              display: $display1;
            }
            position: $post-absol;
            top: $top3;
            right:$right3;
            h1 {
              background-color: #fff;
              width:$width18;
              height:$hgt5;
              border-radius: $br-radius1;
              @include Person-line(center,center);
              position:$position-rela;
              cursor: $cursor;
            }
          }
        }
      }
      .happy-clients2 {
        margin: $margin-top2;
        @media screen and (max-width: 768px) {
          display:$display3;
        }
        display:$display1;
        padding: $padding-top12;
        background: $back-color3;
        text-align: $txt-align1;
        border-radius: $br-radius7;
        box-shadow: $box-shadow6;

        .clients-text {
          p {
            font-size:$fnt-sz2;
            color: $color6;
            margin:$margin1;
            font-weight: $fn-weight3;
          }
          h3 {
            margin-bottom: $margin1;
            font-size: $fn-size18;
            color: $color18;
            font-weight: $fn-weight3;
          }
        }
        .clients-img {
          padding-top:$padding-top13;
          img {
            width:$width11;
            height:$height12;
            object-fit:$object-ft2;
            object-position: $object-post1;
            border-radius: $br-radius1;
          }
        }
      }
    }
  }
  #about-section8 {
    padding: $pd-default20;
    .container {
      .row {
        .about-img {
          @media screen and (max-width: 768px) {
            width: $width-def12;
          }
          position:$position-rela;
          height:$hgt17;
          width:$width-def13;

          .imgs1 {
            width: $width2;
            height: $height2;
            object-fit:$object-ft1;
            object-position: $object-post1;
            position:$post-sta;
          }

          .imgs2 {
            position:$post-absol;
            top: $top4;
            left:$left7;
            z-index:$z-index3;
            width: $width-def14;
            height: $hgt18;
            object-fit:$object-ft1;
            object-position: $object-post1;
          }
          .imgs3 {
            @media screen and (max-width: 768px) {
              right: $right5;
            }
            position: $post-absol;
            bottom: $bottom6;
            right: $right6;
            width: $width-def17;
            height: $hgt19;
            object-fit: $object-ft1;
            object-position: $object-post1;
          }
        }
        .professional {
          .prof-img {
            width: $width11;
            height:$height12;
            background-color: $back-color18;
            @include Person-line(center,center);
            border-radius: $br-radius4;
            img {
              width: $widht3;
              height: $height3;
              object-fit:$object-ft2;
              object-position: $object-post1;
            }
          }
          h2 {
            @media screen and (max-width: 768px) {
              font-size: $fn-size5;
            }
            color: $color6;
            margin:$margin5 ;
            font-size: $fn-size6;
            font-weight:$fn-weight3;
            span {
              color: $color8;
            }
          }
          p {
            @media screen and (max-width: 768px) {
              font-size: $fn-size4;
              width: $width-def16;
            }
            font-size: $fnt-size1;
            color: $color7;
            line-height: $ln-height7;
            width: $width-def15;
          }
          .prof-img2 {
            width: $width4;
            height: $height15;
            margin-top: $margin-top4;

            img {
              width:$width2;
              height: $height2;
              object-fit:$object-ft2;
              object-position:$object-post1;
            }
          }
          h4 {
            font-size: $fnt-size1;
            color: $color7;
            padding-top: $padding-top14;
          }
          .more {
            padding: $pd-default13;
            margin-top: $margin-top2;
            cursor: $cursor;
            text-transform: $text-transform2;
            border-radius: $br-radius2;
            color: $color1;
            height: $hgt15;
            font-weight: $fn-weight1;
            background:$back-color6;
            border:$border1;
          }
        }
      }
    }
  }
  #our-services8 {
    background: $back-color16;
    padding-top: $padding-top8;

    .container {
      .row {
        .ourservices-tittle {
          @include CardHover(center,center,column);
           p {
            text-transform:$text-transform1;
            font-size:$fn-size2;
            color: $color8;
          }
          h2 {
            @media screen and (max-width: 768px) {
              font-size: $fn-size5;
            }
            font-size: $fnt-sz4;
            line-height: $ln-height4;
            text-transform: $text-transform2;
            color: $color6;
            font-weight: $fn-weight3;
          }
        }
      }
    }
  }
  #banner8 {
    padding-top: $padding-top8;
    .container {
      .row {
        .banner-text {
          @include CardHover(center,center,column);

          p {
            text-transform: $text-transform1;
            font-size: $fn-size2;
            color: $color8;
          }
          .pricing-packages {
            @media screen and (max-width: 768px) {
              font-size: $fn-size5;
            }
            font-size: $fnt-sz4;
            line-height: $ln-height4;
            text-transform: $text-transform2;
            color: $color6;
            font-weight:$fn-weight3;
          }
        }
      }
    }
  }
  #blog8 {
    padding-top: $pd-default18;
    .container {
      .row {
        .blog-text {
          @include CardHover(center,center,column);

          p {
            text-transform:$text-transform1;
            font-size: $fn-size2;
            color: $color8;
          }
          h2 {
            @media screen and (max-width: 768px) {
              font-size: $fn-size7;
            }
            font-size: $fnt-sz4;
            line-height: $ln-height4;
            text-transform:$text-transform2;
            color: $color6;
            font-weight: $fn-weight3;
          }
        }
      }
    }
  }
  #questions8 {
    padding-bottom: $padding-top7;
    .container {
      .row {
        .questions-line {
          @media screen and (max-width: 768px) {
            padding: $pd-default15;
            @include Questions(baseline,column,23px);
          }
          padding: $pd-default16;
          border-radius: $br-radius8;
          background: $color8;
          @include Person-line(space-between,center);
          .questions-text {
            @media screen and (max-width: 768px) {
              width: $width-def9;
            }
            p {
              @media screen and (max-width: 768px) {
                font-size: $fn-size11;
              }
              font-size: $fnt-sz3;
              color: $color1;
              margin-bottom: $margin-btm2;
              font-weight: $fn-weight3;
            }
            h2 {
              @media screen and (max-width: 768px) {
                width: $width-def9;
              }
              color: $color19;
              margin-bottom:$margin1;
              font-size: $fnt-size1;
              width:$width-def10;
            }
          }
          .support {
            a {
              text-decoration:$txt-decoration2;
              padding:$pd-default17;
              background: $back-color3;
              display:$display2;
              color: $color8;
              font-size: $fn-size7;
              text-transform:$text-transform1;
              border-radius: $br-radius2;
              cursor: $cursor;
              border: $border1;
              font-weight: $fn-weight3;
              transition: $transition1;
              &:hover {
                background:$bck-color1 ;
                color: $color1;
              }
            }
          }
        }
      }
    }
  }
  #facts8 {
    padding:$pd-dft1 ;
    .container {
      .row {
        .facts-tittle {
          @media screen and (max-width: 768px) {
            width:$width-def19 ;
            padding:$pd-dft2;
            @include Facts-tittle(column,18px);
          }
          padding:$pd-dft3;
          border-radius:$br-radius7;
          box-shadow: $box-shadow4;
          @include Person-line(space-between,center);
          .tittle1 {
            @include CardHover(center,center,column);
            p {
              @media screen and (max-width: 768px) {
                font-size:$fn-size5;
              }
              -webkit-text-stroke-color: $back-plan1;
              -webkit-text-fill-color: $color1;
              -webkit-text-stroke-width: $width-def18;
              font-weight:$fn-weight5;
              color: $color8;
              font-size: $fn-sz8;
              margin: $margin1;
            }
            h2 {
              @media screen and (max-width: 768px) {
                font-size: $fn-size4;
              }
              margin: $margin1;
              color: $color6;
              font-size: $fn-size12;
            }
          }
          .tittle2 {
            @include CardHover(center,center,column);
            p {
              @media screen and (max-width: 768px) {
                font-size:$fn-size5;
              }
              -webkit-text-stroke-color: $back-plan2;
              -webkit-text-fill-color: $color1;
              -webkit-text-stroke-width:$width-def18;
              font-weight: $fn-weight5;
              color: $color8;
              font-size: $fn-sz8;
              margin:$margin1;
            }
            h2 {
              @media screen and (max-width: 768px) {
                font-size: $fn-size4;
              }
              margin:$margin1;
              color: $color6;
              font-size:$fn-size12;
            }
          }
          .tittle3 {
            @include CardHover(center,center,column);
            p {
              @media screen and (max-width: 768px) {
                font-size:$fn-size5;
              }
              -webkit-text-stroke-color: $back-plan4;
              -webkit-text-fill-color: $color1;
              -webkit-text-stroke-width:$width-def18;
              font-weight:$fn-weight5;
              color: $color8;
              font-size:$fn-sz8;
              margin: $margin1;
            }
            h2 {
              @media screen and (max-width: 768px) {
                font-size: $fn-size4;
              }
              margin: $margin1;
              color: $color6;
              font-size: $fn-size12;
            }
          }
          .tittle4 {
            @include CardHover(center,center,column);
            p {
              @media screen and (max-width: 768px) {
                font-size:$fn-size5;
              }
              -webkit-text-stroke-color: $color8;
              -webkit-text-fill-color: $color1;
              -webkit-text-stroke-width: $width-def18;
              font-weight:$fn-weight5;
              color: $color8;
              font-size:$fn-sz8;
              margin:$margin1;
            }
            h2 {
              @media screen and (max-width: 768px) {
                font-size: $fn-size4;
              }
              margin: $margin1;
              color: $color6;
              font-size:$fn-size12;
            }
          }
        }
      }
    }
  }
  #projects-galery8 {
    padding-top: $pd-default18;
    .container {
      .row {
        .projectgalery-text {
          @media screen and (max-width: 768px) {
            @include Project(column,baseline);
          }
          @include Person-line(space-between,flex-end);
          .text1 {
            p {
              text-transform: $text-transform1;
              font-size: $fn-size2;
              color: $color8;
            }
            h2 {
              @media screen and (max-width: 768px) {
                font-size: $fn-size5;
                padding-bottom:$padding-top13;
              }
              font-size:$fnt-sz4;
              line-height: $ln-height4;
              text-transform:$text-transform2;
              color: $color6;
              font-weight: $fn-weight3;
            }
          }
          h4 {
            a {
              text-decoration: $txt-decoration2;
              padding:$pd-default19;
              display: $display2;
              border:$border5;
              border-radius:$br-radius4;
              color: $color1;
              background: $back-color7;
              font-size: $fn-size4;
              text-transform: $text-transform1;
              font-weight:$fn-weight2;
            }
          }
        }
      }
    }
  }
  #testimional-tittle8 {
    .container {
      .row {
        .wpo-testimional-tittle {
          padding-top:$padding-top6;
          @include Person-line(space-between,center);
          .tittle1 {
            position: relative;
            .queto {
              background-color: $back-color7;
              width:$width9;
              height: $height10;
              @include Person-line(center,center);

              margin: $margin1;
              @media screen and (max-width: 768px) {
                width:$width10;
                height: $hgt9;
              }
              svg {
                color: $color1;
                font-size:$fn-size10;
              }
            }
            .our-clients {
              @media screen and (max-width: 768px) {
                left: $left5;
                font-size: $fn-size12;
                bottom: $bottom1;
                width:$width13;
              }
              color: $color6;
              font-size:$fn-size13;
              font-weight: $fn-weight3;
              margin: $margin1;
              position: $post-absol;
              bottom: $bottom2;
              left:$left2;
              width: $width12;
              span {
                color: $color10;
              }
            }
          }
          .tittle2 {
            @include Person(center,16px);
            .two-arrow {
              @media screen and (max-width: 768px) {
                display: $display1;
              }
              @include Person-line(center,center);
              background: $back-color3;
              width:$width11;
              height: $height12;
              line-height:$ln-height5;
              border: $border2;
              color: $color9;
              padding: $padding-default;
              cursor: $cursor;
              position: $position-rela;
              margin:$margin1;

              svg {
                color: $color8;
                font-size: $fn-size11;
              }
              &:hover {
                &::after {
                  opacity: $opacity2;
                  visibility:$visiblty2;
                }
              }
              &::after {
                content: "";
                width: $width-def11;
                height: $hgt16;
                position: $post-absol;
                z-index:$z-index3;
                left: $left6;
                right: $righ4;
                bottom: $bottom5;
                border-right:$br-radius6 !important;
                border-left:$border-left2;
                border-bottom:$border-bottom4 ;
                opacity: $opacity1;
                visibility: $visiblty1;
              }
            }
            h5 {
              @include Person-line(center,center);
              background: $back-color3;
              width: $width11;
              height:$height12;
              line-height: $ln-height5;
              cursor:$cursor;
              border:$border2;
              color: $color9;
              padding: $padding-default;
              margin: $margin1;
              svg {
                color: $color8;
                font-size: $fn-size11;
              }
            }
          }
        }
      }
    }
  }
  #wpo-hero-slide {
    position: $position-rela;
  }
}
  