@import "../../style/partials/varaible.scss";
@import "../../style/partials/mixin.scss";

.comments-item {
  .comment-cards {
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
    display: flex;
    gap: 21px;
    border-bottom: $border-bottom1;
    padding: $padding-random14;
    img {
      width: $width18;
      height: $hgt5;
      border-radius: $br-radius1;
      object-fit: $object-ft1;
      object-position: $object-post1;
    }
    .commentstext {
      .nameanddate {
        @media screen and (max-width: 768px) {
          flex-wrap: wrap;
        }
        @include Person(baseline,9px);
    

        p {
          font-size: $fn-size7;
          color: $color6;
          font-weight: $fn-weight4;
        }
        h3 {
          font-size: $fn-size9;
          color: $color9;
          font-weight: $fn-weight2;
          text-transform: $text-transform3;
        }
      }
      h4 {
        font-size: $fn-size9;
        color: $color7;
        font-weight: $fn-weight2;
        line-height: $ln-height3;
      }
      h5 {
        font-size: $fn-size16;
        color: $color7;
        padding-top: $padding-top3;
        font-weight: $fn-weight2;
        line-height: $ln-height3;
        text-decoration: $txt-decoration1;
        cursor: $cursor;
        transition: $transition1;
        &:hover {
          color: $color4;
        }
      }
    }
  }
}
