@import "../../style/partials/varaible.scss";
@import "../../style/partials/mixin.scss";
main {
  #servicesingle {
    .back-img {
      @media screen and (max-width: 768px){
        height: $height5;
      }
      background-image: url(http://consultar-react.wpocean.com/static/media/page-title.be0e30a3.jpg);
      background-position: $back-post1;
      background-repeat: $back-repeat;
      background-size:$back-size1;
      width:$width2;
      height:$height6;
      position:$position-rela;

      .breadcumb-text {
        @media screen and (max-width: 768px){
          height: $height5;
        }
        @include CardHover(center,center,column);
        background-color: $back-color5;
        filter: $filter-one;
        height: $height6;
        p {
          @media screen and (max-width: 768px){
            font-size: $fn-size5;
          }
          color: $color1;
          font-size:$fn-size6;
          font-weight:$fn-weight1;
        }
        .pricing-ul {
          padding: $padding-default;
          list-style: $list-style1;
          @include Person(center,5px);


          .pricing-li1 {
            a {
              text-decoration: $txt-decoration2;
              color: $color1;
              font-size: $fn-size7;
              font-weight: $fn-weight1;
              transition: $transition1;
              &:hover {
                color: $color4;
                font-size:$fn-size7;
                font-weight: $fn-weight1;
              }
            }
          }
          .pricing-li2 {
            color: $color5;

            font-size: $fn-size7;
            font-weight: $fn-weight1;
          }
        }
      }
    }
  }
  #single-sec1 {
    @media screen and (max-width: 768px) {
      padding: 4rem 0rem 7rem;
    }
    padding: 7rem 0rem 7rem;
    .container {
      .row {
        .content-img {
          @media screen and (max-width: 768px) {
            height: 210px;
          }
          width: 100%;
          height: 466px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .single-widget {
          @media screen and (max-width: 768px) {
            margin-top: 27px;
          }
          padding: 30px 40px;
          border: 1px solid #e1e1e1;
          margin-bottom: 40px;
          position: relative;
          h2 {
            font-size: 25px;
            color: #232f4b;
            padding-bottom: 28px;
            position: relative;
            text-align: center;
          }
          img {
            position: absolute;
            top: 16%;
            left: 43%;
          }
          .single-ul {
            list-style: none;
            padding: 0;
            .single-li {
              font-size: 16px;
              font-weight: 400;
              color: #232f4b;
              display: flex;
              align-items: center;
              gap: 15px;
              border-bottom: 1px solid #e1e1e1;
              padding: 15px 0 14px 0px;
              cursor: pointer;
              transition: 0.3s ease-in-out;
              &:hover {
                color: #3757f7;
              }
            }
          }
        }
        .service-content-des {
          p {
            @media screen and (max-width: 768px) {
              font-size: 22px;
            }
            margin-bottom: 30px;
            font-size: 28px;
            color: #232f4b;
            font-weight: 600;
          }
          h2 {
            font-size: 15px;
            color: #4f555a;
            font-weight: 400;
            line-height: 28.8px;
            margin-bottom: 26px;
          }
          h3 {
            font-size: 15px;
            color: #4f555a;
            font-weight: 400;
            line-height: 28.8px;
            margin-bottom: 43px;
          }
        }
        .newsletter-widget {
          padding: 30px 40px;
          border: 1px solid #e1e1e1;
          margin-bottom: 40px;
          position: relative;
          p {
            font-size: 25px;
            color: #232f4b;
            padding-bottom: 28px;
            position: relative;
            text-align: center;
          }
          img {
            position: absolute;
            top: 21%;
            left: 43%;
          }
          h4 {
            font-size: 18px;
            color: #232f4b;
            text-align: center;
          }
          form {
            .emails {
              display: block;
              width: 100%;
              height: 50px;
              border-radius: 50px;
              border: 1px solid #e1e1e1;
              padding: 15px;
              text-align: center;
              margin-top: 16px;
            }
            .signup {
              background-color: #3757f7;
              width: 100%;
              height: 50px;
              border-radius: 50px;
              text-align: center;
              color: #fff;
              border: none;
              margin: 20px 0;
            }
          }
          h5 {
            font-size: 14px;
            color: #848892;
            a {
              text-decoration: none;
            }
          }
        }
        .content-img3 {
          @media screen and (max-width: 768px) {
            width: 100%;
            height: 210px;
          }
          width: 100%;
          height: 300px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .content-img4 {
          @media screen and (max-width: 768px) {
            width: 100%;
            height: 210px;
            margin-top: 12px;
          }
          width: 100%;
          height: 300px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .instagram-widget {
          @media screen and (max-width: 768px) {
            margin-top: 24px;
          }
          padding: 30px 40px;
          border: 1px solid #e1e1e1;
          margin-bottom: 40px;
          position: relative;
          h3 {
            font-size: 25px;
            color: #232f4b;
            padding-bottom: 28px;
            position: relative;
            text-align: center;
          }
          .post-img {
            position: absolute;
            top: 23%;
            left: 46%;
          }
          .foot-projects3 {
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 7px;
            margin: 0;
            padding-top: 26px;
            li {
              a {
                text-decoration: none;
                img {
                  width: 100px;
                  height: 94px;
                }
              }
            }
          }
          .foot-projects4 {
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;
            padding-top: 7px;
            li {
              a {
                text-decoration: none;
                img {
                  width: 100px;
                  height: 94px;
                }
              }
            }
          }
        }
        .solutions {
          margin-left: 11px;
          h4 {
            color: #232f4b;
            font-size: 31px;
            font-weight: 600;
            margin-bottom: 34px;
          }
        }
        .benefits-text {
          margin-left: 11px;
          padding: 2rem 0rem 2rem;
          h4 {
            color: #232f4b;
            font-size: 31px;
            font-weight: 600;
            margin-bottom: 11px;
          }
        }
      }
    }
  }
}
