@import "../../style//partials/varaible.scss";
@import "../../style/partials/mixin.scss";

#contactinfo-cards {
  padding: $padding-random15;
  .container {
    .row {
      @include Person-line(center,center);
   

      .contact-cards {
        @include CardHover(center,center,column);
        text-align: $txt-align1;
        box-shadow: $box-shadow2;
        padding:$padding-random16 ;
        h4 {
          width: $width18;
          height: $hgt5;
          background-color: $back-color15;
          border-radius:$br-radius1;
          @include Person-line(center,center);
   
          img {
            width: $width11;
            height: $height12;
            object-fit: $object-ft1;
            object-position: $object-post1;
          }
        }
        .contact-text {
          p {
            font-size:$fn-size17;
            font-weight: $fn-weight1;
            margin: $margin4;
            color:$color6;
          }
          h2 {
            font-size: $fn-size9;
            color: $color7;
            font-weight: $fn-weight2;
            line-height: $ln-height3;
          }
        }
      }
    }
  }
}
