.desktop-nav {
  @media screen and (max-width: 768px) {
    display: none;
  }
  .container {
    .row {
      display: flex;
      .site-logo {
        width: 207px;
        height: 43px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          cursor: pointer;
        }
      }
      .navmiddle {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        .home {
          position: relative;
          .home-li {
            text-decoration: none;
            font-size: 16px;
            padding: 35px 20px;
            display: block;
            color: #232f4b;
            font-weight: 500;
            position: relative;
            transition: 0.3s ease-in-out;
            &:hover {
              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 4px;
                background: #3757f7;
                transition: 0.3s ease-in-out;
                border-radius: 3px;
              }
              .home-hover {
                display: block;
              }
            }
            .home-hover {
              list-style: none;
              position: absolute;
              top: 90px;
              left: 0;
              display: none;
              transition: 0.3s ease-in-out;
              background-color: #fff;
              box-shadow: 0 2px 20px 0 rgba(62, 65, 159, 0.09);
              width: 220px;
              padding: 20px 0;
              z-index: 9999;

              li {
                // position: relative;

                .hover-li6 {
                  text-decoration: none;
                  font-size: 18px;
                  display: block;
                  padding: 10px 20px;
                  color: #232f4b;
                  font-weight: 500;
                  position: relative;
                  &::after {
                    position: absolute;
                    left: 20px;
                    bottom: 4px;
                    width: 0;
                    height: 2px;
                    content: "";
                    background: #3757f7;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    opacity: 0;
                    visibility: hidden;
                  }
                  &:hover {
                    &::after {
                      width: 40px;
                      opacity: 1;
                      visibility: visible;
                    }
                  }
                }
              }
            }
          }
        }
        .about {
          position: relative;
          a {
            text-decoration: none;
            font-size: 16px;
            padding: 35px 20px;
            display: block;
            color: #232f4b;
            font-weight: 500;
            position: relative;
            transition: 0.3s ease-in-out;
            &:hover {
              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 4px;
                background: #3757f7;
                transition: 0.3s ease-in-out;
                border-radius: 3px;
              }
            }
          }
        }
        .services {
          position: relative;
          .service-li {
            text-decoration: none;
            font-size: 16px;
            padding: 35px 20px;
            display: block;
            color: #232f4b;
            font-weight: 500;
            position: relative;
            transition: 0.3s ease-in-out;
            &:hover {
              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 4px;
                background: #3757f7;
                transition: 0.3s ease-in-out;
                border-radius: 3px;
              }
              .service-hover {
                display: block;
              }
            }
            .service-hover {
              list-style: none;
              position: absolute;
              top: 90px;
              left: 0;
              display: none;
              transition: 0.3s ease-in-out;
              background-color: #fff;
              box-shadow: 0 2px 20px 0 rgba(62, 65, 159, 0.09);
              width: 220px;
              padding: 20px 0;
              z-index: 9999;

              li {
                .hover-li2 {
                  text-decoration: none;
                  font-size: 18px;
                  display: block;
                  padding: 10px 20px;
                  color: #232f4b;
                  font-weight: 500;
                  position: relative;
                  &::after {
                    position: absolute;
                    left: 20px;
                    bottom: 4px;
                    width: 0;
                    height: 2px;
                    content: "";
                    background: #3757f7;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    opacity: 0;
                    visibility: hidden;
                  }
                  &:hover {
                    &::after {
                      width: 40px;
                      opacity: 1;
                      visibility: visible;
                    }
                  }
                }
              }
            }
          }
        }
        .projects {
          position: relative;
          .project-li {
            text-decoration: none;
            font-size: 16px;
            padding: 35px 20px;
            display: block;
            color: #232f4b;
            font-weight: 500;
            position: relative;
            transition: 0.3s ease-in-out;
            &:hover {
              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 4px;
                background: #3757f7;
                transition: 0.3s ease-in-out;
                border-radius: 3px;
              }
              .project-hover {
                display: block;
              }
            }
            .project-hover {
              list-style: none;
              position: absolute;
              top: 90px;
              left: 0;
              display: none;
              transition: 0.3s ease-in-out;
              background-color: #fff;
              box-shadow: 0 2px 20px 0 rgba(62, 65, 159, 0.09);
              width: 220px;
              padding: 20px 0;
              z-index: 9999;

              li {
                .hover-li1 {
                  text-decoration: none;
                  font-size: 18px;
                  display: block;
                  padding: 10px 20px;
                  color: #232f4b;
                  font-weight: 500;
                  position: relative;
                  &::after {
                    position: absolute;
                    left: 20px;
                    bottom: 4px;
                    width: 0;
                    height: 2px;
                    content: "";
                    background: #3757f7;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    opacity: 0;
                    visibility: hidden;
                  }
                  &:hover {
                    &::after {
                      width: 40px;
                      opacity: 1;
                      visibility: visible;
                    }
                  }
                }
              }
            }
          }
        }
        .pages {
          position: relative;
          .page-li {
            text-decoration: none;
            font-size: 16px;
            padding: 35px 20px;
            display: block;
            color: #232f4b;
            font-weight: 500;
            position: relative;
            transition: 0.3s ease-in-out;
            &:hover {
              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 4px;
                background: #3757f7;
                transition: 0.3s ease-in-out;
                border-radius: 3px;
              }
              .page-hover {
                display: block;
              }
            }
            .page-hover {
              list-style: none;
              position: absolute;
              top: 90px;
              left: 0;
              display: none;
              transition: 0.3s ease-in-out;
              background-color: #fff;
              box-shadow: 0 2px 20px 0 rgba(62, 65, 159, 0.09);
              width: 220px;
              padding: 20px 0;
              z-index: 9999;

              li {
                .hover-li {
                  text-decoration: none;
                  font-size: 18px;
                  display: block;
                  padding: 10px 20px;
                  color: #232f4b;
                  font-weight: 500;
                  position: relative;
                  &::after {
                    position: absolute;
                    left: 20px;
                    bottom: 4px;
                    width: 0;
                    height: 2px;
                    content: "";
                    background: #3757f7;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    opacity: 0;
                    visibility: hidden;
                  }
                  &:hover {
                    &::after {
                      width: 40px;
                      opacity: 1;
                      visibility: visible;
                    }
                  }
                }
              }
            }
          }
        }
        .blog {
          position: relative;
          .blog-li {
            text-decoration: none;
            font-size: 16px;
            padding: 35px 20px;
            display: block;
            color: #232f4b;
            font-weight: 500;
            position: relative;
            transition: 0.3s ease-in-out;
            &:hover {
              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 4px;
                background: #3757f7;
                transition: 0.3s ease-in-out;
                border-radius: 3px;
              }
              .blog-hover {
                display: block;
              }
            }
            .blog-hover {
              list-style: none;
              position: absolute;
              top: 90px;
              left: 0;
              display: none;
              transition: 0.3s ease-in-out;
              background-color: #fff;
              box-shadow: 0 2px 20px 0 rgba(62, 65, 159, 0.09);
              width: 220px;
              padding: 20px 0;
              z-index: 9999;

              .hover-li3 {
                .hover-a3 {
                  text-decoration: none;
                  font-size: 18px;
                  display: block;
                  padding: 10px 20px;
                  color: #232f4b;
                  font-weight: 500;
                  position: relative;
                  &::after {
                    position: absolute;
                    left: 20px;
                    bottom: 4px;
                    width: 0;
                    height: 2px;
                    content: "";
                    background: #3757f7;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    opacity: 0;
                    visibility: hidden;
                  }
                  &:hover {
                    &::after {
                      width: 40px;
                      opacity: 1;
                      visibility: visible;
                    }
                  }
                }
              }
              .hover-li4 {
                .hover-a4 {
                  text-decoration: none;
                  font-size: 18px;
                  display: block;
                  padding: 10px 20px;
                  color: #232f4b;
                  font-weight: 500;
                  position: relative;
                  cursor: pointer;
                  transition: 0.3s ease-in-out;
                  position: relative;
                  &::after {
                    position: absolute;
                    left: 20px;
                    bottom: 4px;
                    width: 0;
                    height: 2px;
                    content: "";
                    background: #3757f7;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    opacity: 0;
                    visibility: hidden;
                  }

                  &:hover {
                    .blog-hover2 {
                      display: block;
                    }
                    &::after {
                      width: 40px;
                      opacity: 1;
                      visibility: visible;
                    }
                  }
                  .blog-hover2 {
                    position: absolute;
                    top: 13px;
                    right: -270px;
                    display: none;
                    list-style: none;
                    transition: 0.3s ease-in-out;
                    background-color: #fff;
                    box-shadow: 0 2px 20px 0 rgba(62, 65, 159, 0.09);
                    width: 270px;
                    padding: 20px 0;
                    z-index: 9999;
                    .hover-li5 {
                      .hover-a5 {
                        text-decoration: none;
                        font-size: 18px;
                        display: block;
                        padding: 10px 20px;
                        color: #232f4b;
                        font-weight: 500;
                        position: relative;
                        &::after {
                          position: absolute;
                          left: 20px;
                          bottom: 4px;
                          width: 0;
                          height: 2px;
                          content: "";
                          background: #3757f7;
                          -webkit-transition: all 0.3s;
                          transition: all 0.3s;
                          opacity: 0;
                          visibility: hidden;
                        }
                        &:hover {
                          &::after {
                            width: 40px;
                            opacity: 1;
                            visibility: visible;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .contact {
          position: relative;
          a {
            text-decoration: none;
            font-size: 16px;
            padding: 35px 20px;
            display: block;
            color: #232f4b;
            font-weight: 500;
            position: relative;
            transition: 0.3s ease-in-out;
            &:hover {
              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 4px;
                background: #3757f7;
                transition: 0.3s ease-in-out;
                border-radius: 3px;
              }
            }
          }
        }
      }
      .site-right {
        display: flex;
        gap: 14px;
        justify-content: flex-end;
        .consulting {
          padding: 10px 25px;
          background: linear-gradient(270deg,#3757f7,#071e93);
          font-size: 16px;
          color: #fff;
          font-weight: 500;
          border-radius: 6px;
          text-transform: capitalize;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
          position: relative;
        
          a{
            text-decoration: none;
            color: #fff;
            

          }
        }
        .search {
          background-color: #dadffb;
          line-height: 0.66em;

          color: #232f4b;
          width: 55px;
          height: 50px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          cursor: pointer;
          position: relative;
          .search-bar {
            position: absolute;
            top: 80px;
            left: -277px;
            box-shadow: -2px 18px 40px -9px #999;
            background: #fff;
            padding: 30px;
            border-radius: 6px;
            width: 350px;
            form {
              position: relative;
              .searchs {
                width: 100%;
                height: 50px;
                padding: 6px 20px;
                border-radius: 0;
                box-shadow: none;
                border: 1px solid #e1e1e1;
                font-size: 16px;
                font-weight: 400;
                color: #212529;
              }
              .gosearch {
                position: absolute;
                top: 14px;
                right: 15px;
              }
            }
          }
        }
      }
    }
  }
}
.mobile-nav {
  width: 100%;

  padding: 10px;

  @media screen and (max-width: 768px) {
    display: block;
  }
  display: none;
  .container {
    .row {
      .mobilenav-item {
        display: flex;
        align-items: baseline;
        justify-content: center;
        .mobilenav-img {
          width: 180px;
          height: 35px;
          margin-left: 30px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
        .search {
          background-color: #dadffb;
          line-height: 0.66em;
          color: #232f4b;
          width: 55px;
          margin-left: 30px;
          height: 50px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          cursor: pointer;
          position: relative;
          .search-bar {
            position: absolute;
            top: 80px;
            left: -277px;
            box-shadow: -2px 18px 40px -9px #999;
            background: #fff;
            padding: 30px;
            border-radius: 6px;
            width: 350px;
            form {
              position: relative;
              .searchs {
                width: 100%;
                height: 50px;
                padding: 6px 20px;
                border-radius: 0;
                box-shadow: none;
                border: 1px solid #e1e1e1;
                font-size: 16px;
                font-weight: 400;
                color: #212529;
              }
              .gosearch {
                position: absolute;
                top: 14px;
                right: 15px;
              }
            }
          }
        }
      }
    }
  }
}

.banner-nav {
  @media screen and (max-width: 768px) {
    display: none;
  }
  .nav-top {
    padding: 15px 130px;
    background-color: #283a5e;
    .container {
      .row {
        .lake-street {
          display: flex;
          align-items: center;
          gap: 26px;
          p {
            margin: 0;
            color: #e5e3e3;
            font-size: 15px;
            font-weight: 300;
            line-height: 16px;
            word-spacing: 3px;
            display: flex;
            align-items: center;
            gap: 5px;
          }
          h3 {
            margin: 0;
            color: #e5e3e3;
            font-size: 15px;
            font-weight: 300;
            line-height: 16px;
            word-spacing: 3px;
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
        .social-page {
          display: flex;
          align-items: center;
          gap: 18px;
          justify-content: flex-end;
          p {
            margin: 0;
            color: #e5e3e3;
            font-size: 15px;
            font-weight: 300;
            line-height: 16px;
            word-spacing: 3px;
          }
          svg {
            color: #fff;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            &:hover {
              color: #0d6efd;
            }
          }
        }
      }
    }
  }
  .nav-bottom {
    .container {
      .row {
        display: flex;
        .site-logo {
          width: 207px;
          height: 43px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            cursor: pointer;
          }
        }
        .navmiddle {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          .home {
            position: relative;
            .home-li {
              text-decoration: none;
              font-size: 16px;
              padding: 35px 20px;
              display: block;
              color: #232f4b;
              font-weight: 500;
              position: relative;
              transition: 0.3s ease-in-out;
              &:hover {
                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 4px;
                  background: #3757f7;
                  transition: 0.3s ease-in-out;
                  border-radius: 3px;
                }
                .home-hover {
                  display: block;
                }
              }
            }
            .home-hover {
              list-style: none;
              position: absolute;
              top: 90px;
              left: 0;
              display: none;
              transition: 0.3s ease-in-out;
              background-color: #fff;
              box-shadow: 0 2px 20px 0 rgba(62, 65, 159, 0.09);
              width: 220px;
              padding: 20px 0;
              z-index: 9999;

              li {
                .hover-li6 {
                  text-decoration: none;
                  font-size: 18px;
                  display: block;
                  padding: 10px 20px;
                  color: #232f4b;
                  font-weight: 500;
                  position: relative;
                  &::after {
                    position: absolute;
                    left: 20px;
                    bottom: 4px;
                    width: 0;
                    height: 2px;
                    content: "";
                    background: #3757f7;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    opacity: 0;
                    visibility: hidden;
                  }
                  &:hover {
                    &::after {
                      width: 40px;
                      opacity: 1;
                      visibility: visible;
                    }
                  }
                }
              }
            }
          }
          .about {
            position: relative;
            a {
              text-decoration: none;
              font-size: 16px;
              padding: 35px 20px;
              display: block;
              color: #232f4b;
              font-weight: 500;
              position: relative;
              transition: 0.3s ease-in-out;
              &:hover {
                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 4px;
                  background: #3757f7;
                  transition: 0.3s ease-in-out;
                  border-radius: 3px;
                }
              }
            }
          }
          .services {
            position: relative;
            .service-li {
              text-decoration: none;
              font-size: 16px;
              padding: 35px 20px;
              display: block;
              color: #232f4b;
              font-weight: 500;
              position: relative;
              transition: 0.3s ease-in-out;
              &:hover {
                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 4px;
                  background: #3757f7;
                  transition: 0.3s ease-in-out;
                  border-radius: 3px;
                }
                .service-hover {
                  display: block;
                }
              }
              .service-hover {
                list-style: none;
                position: absolute;
                top: 90px;
                left: 0;
                display: none;
                transition: 0.3s ease-in-out;
                background-color: #fff;
                box-shadow: 0 2px 20px 0 rgba(62, 65, 159, 0.09);
                width: 220px;
                padding: 20px 0;
                z-index: 9999;

                li {
                  .hover-li2 {
                    text-decoration: none;
                    font-size: 18px;
                    display: block;
                    padding: 10px 20px;
                    color: #232f4b;
                    font-weight: 500;
                    position: relative;
                    &::after {
                      position: absolute;
                      left: 20px;
                      bottom: 4px;
                      width: 0;
                      height: 2px;
                      content: "";
                      background: #3757f7;
                      -webkit-transition: all 0.3s;
                      transition: all 0.3s;
                      opacity: 0;
                      visibility: hidden;
                    }
                    &:hover {
                      &::after {
                        width: 40px;
                        opacity: 1;
                        visibility: visible;
                      }
                    }
                  }
                }
              }
            }
          }
          .projects {
            position: relative;
            .project-li {
              text-decoration: none;
              font-size: 16px;
              padding: 35px 20px;
              display: block;
              color: #232f4b;
              font-weight: 500;
              position: relative;
              transition: 0.3s ease-in-out;
              &:hover {
                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 4px;
                  background: #3757f7;
                  transition: 0.3s ease-in-out;
                  border-radius: 3px;
                }
                .project-hover {
                  display: block;
                }
              }
              .project-hover {
                list-style: none;
                position: absolute;
                top: 90px;
                left: 0;
                display: none;
                transition: 0.3s ease-in-out;
                background-color: #fff;
                box-shadow: 0 2px 20px 0 rgba(62, 65, 159, 0.09);
                width: 220px;
                padding: 20px 0;
                z-index: 9999;

                li {
                  .hover-li1 {
                    text-decoration: none;
                    font-size: 18px;
                    display: block;
                    padding: 10px 20px;
                    color: #232f4b;
                    font-weight: 500;
                    position: relative;
                    &::after {
                      position: absolute;
                      left: 20px;
                      bottom: 4px;
                      width: 0;
                      height: 2px;
                      content: "";
                      background: #3757f7;
                      -webkit-transition: all 0.3s;
                      transition: all 0.3s;
                      opacity: 0;
                      visibility: hidden;
                    }
                    &:hover {
                      &::after {
                        width: 40px;
                        opacity: 1;
                        visibility: visible;
                      }
                    }
                  }
                }
              }
            }
          }
          .pages {
            position: relative;
            .page-li {
              text-decoration: none;
              font-size: 16px;
              padding: 35px 20px;
              display: block;
              color: #232f4b;
              font-weight: 500;
              position: relative;
              transition: 0.3s ease-in-out;
              &:hover {
                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 4px;
                  background: #3757f7;
                  transition: 0.3s ease-in-out;
                  border-radius: 3px;
                }
                .page-hover {
                  display: block;
                }
              }
              .page-hover {
                list-style: none;
                position: absolute;
                top: 90px;
                left: 0;
                display: none;
                transition: 0.3s ease-in-out;
                background-color: #fff;
                box-shadow: 0 2px 20px 0 rgba(62, 65, 159, 0.09);
                width: 220px;
                padding: 20px 0;
                z-index: 9999;

                li {
                  .hover-li {
                    text-decoration: none;
                    font-size: 18px;
                    display: block;
                    padding: 10px 20px;
                    color: #232f4b;
                    font-weight: 500;
                    position: relative;
                    &::after {
                      position: absolute;
                      left: 20px;
                      bottom: 4px;
                      width: 0;
                      height: 2px;
                      content: "";
                      background: #3757f7;
                      -webkit-transition: all 0.3s;
                      transition: all 0.3s;
                      opacity: 0;
                      visibility: hidden;
                    }
                    &:hover {
                      &::after {
                        width: 40px;
                        opacity: 1;
                        visibility: visible;
                      }
                    }
                  }
                }
              }
            }
          }
          .blog {
            position: relative;
            .blog-li {
              text-decoration: none;
              font-size: 16px;
              padding: 35px 20px;
              display: block;
              color: #232f4b;
              font-weight: 500;
              position: relative;
              transition: 0.3s ease-in-out;
              &:hover {
                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 4px;
                  background: #3757f7;
                  transition: 0.3s ease-in-out;
                  border-radius: 3px;
                }
                .blog-hover {
                  display: block;
                }
              }
              .blog-hover {
                list-style: none;
                position: absolute;
                top: 90px;
                left: 0;
                display: none;
                transition: 0.3s ease-in-out;
                background-color: #fff;
                box-shadow: 0 2px 20px 0 rgba(62, 65, 159, 0.09);
                width: 220px;
                padding: 20px 0;
                z-index: 9999;

                .hover-li3 {
                  .hover-a3 {
                    text-decoration: none;
                    font-size: 18px;
                    display: block;
                    padding: 10px 20px;
                    color: #232f4b;
                    font-weight: 500;
                    position: relative;
                    &::after {
                      position: absolute;
                      left: 20px;
                      bottom: 4px;
                      width: 0;
                      height: 2px;
                      content: "";
                      background: #3757f7;
                      -webkit-transition: all 0.3s;
                      transition: all 0.3s;
                      opacity: 0;
                      visibility: hidden;
                    }
                    &:hover {
                      &::after {
                        width: 40px;
                        opacity: 1;
                        visibility: visible;
                      }
                    }
                  }
                }
                .hover-li4 {
                  position: relative;
                  &:hover {
                    &:after {
                      position: absolute;
                      content: "";
                      bottom: 0;
                      width: 40px;
                      height: 2px;
                      left: 20px;
                      background: #3757f7;

                      transition: 0.3s ease-in-out;
                    }
                  }
                  .hover-a4 {
                    text-decoration: none;
                    font-size: 18px;
                    display: block;
                    padding: 10px 20px;
                    color: #232f4b;
                    font-weight: 500;
                    position: relative;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;
                    &:hover {
                      .blog-hover2 {
                        display: block;
                      }
                    }
                    .blog-hover2 {
                      position: absolute;
                      top: 13px;
                      right: -270px;
                      display: none;
                      list-style: none;
                      transition: 0.3s ease-in-out;
                      background-color: #fff;
                      box-shadow: 0 2px 20px 0 rgba(62, 65, 159, 0.09);
                      width: 270px;
                      padding: 20px 0;
                      z-index: 9999;
                      .hover-li5 {
                        .hover-a5 {
                          text-decoration: none;
                          font-size: 18px;
                          display: block;
                          padding: 10px 20px;
                          color: #232f4b;
                          font-weight: 500;
                          position: relative;
                          &::after {
                            position: absolute;
                            left: 20px;
                            bottom: 4px;
                            width: 0;
                            height: 2px;
                            content: "";
                            background: #3757f7;
                            -webkit-transition: all 0.3s;
                            transition: all 0.3s;
                            opacity: 0;
                            visibility: hidden;
                          }
                          &:hover {
                            &::after {
                              width: 40px;
                              opacity: 1;
                              visibility: visible;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .contact {
            position: relative;
            a {
              text-decoration: none;
              font-size: 16px;
              padding: 35px 20px;
              display: block;
              color: #232f4b;
              font-weight: 500;
              position: relative;
              transition: 0.3s ease-in-out;
              &:hover {
                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 4px;
                  background: #3757f7;
                  transition: 0.3s ease-in-out;
                  border-radius: 3px;
                }
              }
            }
          }
        }
        .site-right {
          display: flex;
          gap: 14px;
          justify-content: flex-end;
          .consulting {
            padding: 10px 25px;
            background: linear-gradient(270deg,#3757f7,#071e93);
            font-size: 16px;
            color: #fff;
            font-weight: 500;
            border-radius: 6px;
            text-transform: capitalize;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            position: relative;
          
            a{
              text-decoration: none;
              color: #fff;
              
  
            }
          }
          .search {
            background-color: #dadffb;
            line-height: 0.66em;
            color: #232f4b;
            width: 55px;
            height: 50px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
            position: relative;
            .search-bar {
              position: absolute;
              top: 80px;
              left: -277px;
              box-shadow: -2px 18px 40px -9px #999;
              background: #fff;
              padding: 30px;
              border-radius: 6px;
              width: 350px;
              z-index: 99;
              form {
                position: relative;
                .searchs {
                  width: 100%;
                  height: 50px;
                  padding: 6px 20px;
                  border-radius: 0;
                  box-shadow: none;
                  border: 1px solid #e1e1e1;
                  font-size: 16px;
                  font-weight: 400;
                  color: #212529;
                }
                .gosearch {
                  position: absolute;
                  top: 14px;
                  right: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.mobile-nav-two {
  width: 100%;

  @media screen and (max-width: 768px) {
    display: block;
  }
  display: none;
  .mobilenav-top {
    @media screen and (max-width: 768px) {
      padding: 22px 0px 17px;
    }
    padding: 15px 130px;
    background-color: #283a5e;
    .container {
      .row {
        .lake-street {
          @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: 15px;
          }
          display: flex;
          align-items: center;
          gap: 26px;
          p {
            @media screen and (max-width: 768px) {
              font-size: 13px;
            }
            margin: 0;
            color: #e5e3e3;
            font-size: 15px;
            font-weight: 300;
            line-height: 16px;
            word-spacing: 3px;
            display: flex;
            align-items: center;
            gap: 5px;
          }
          h3 {
            @media screen and (max-width: 768px) {
              font-size: 13px;
            }
            margin: 0;
            color: #e5e3e3;
            font-size: 15px;
            font-weight: 300;
            line-height: 16px;
            word-spacing: 3px;
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
        .social-page {
          @media screen and (max-width: 768px) {
            gap: 11px;
            justify-content: center;
          }
          display: flex;
          align-items: center;
          gap: 18px;
          justify-content: flex-end;
          p {
            @media screen and (max-width: 768px) {
              font-size: 13px;
            }
            margin: 0;
            color: #e5e3e3;
            font-size: 15px;
            font-weight: 300;
            line-height: 16px;
            word-spacing: 3px;
          }
          svg {
            color: #fff;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            &:hover {
              color: #0d6efd;
            }
          }
        }
      }
    }
  }
  .container {
    .row {
      .mobilenav-bottom {
        display: flex;
        align-items: baseline;
        justify-content: center;
        .mobilenav-img {
          width: 180px;
          height: 35px;
          margin-left: 30px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
        .search {
          background-color: #dadffb;
          line-height: 0.66em;
          color: #232f4b;
          width: 55px;
          margin-left: 30px;
          height: 50px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          cursor: pointer;
          margin-top: 8px;
          z-index: 99;
          position: relative;
          .search-bar {
            position: absolute;
            top: 80px;
            left: -277px;
            box-shadow: -2px 18px 40px -9px #999;
            background: #fff;
            padding: 30px;
            border-radius: 6px;
            width: 350px;
            form {
              position: relative;
              .searchs {
                width: 100%;
                height: 50px;
                padding: 6px 20px;
                border-radius: 0;
                box-shadow: none;
                border: 1px solid #e1e1e1;
                font-size: 16px;
                font-weight: 400;
                color: #212529;
              }
              .gosearch {
                position: absolute;
                top: 14px;
                right: 15px;
              }
            }
          }
        }
      }
    }
  }
}
