@import "../../style//partials//varaible.scss";
@import "../../style/partials/mixin.scss";
#register-page {
  background-color: $back-color8;
  min-height: $min-height1;
  @include Login(center, center);

  .register {
    @media screen and (max-width: 768px) {
      padding: $padding-random4;
    }
    width: $width14;
    max-width: $max-width1;

    background: $back-color3;
    padding: $padding-random3;
    border-radius: $br-radius3;
    box-shadow: $box-shadow1;
    position: $position-rela;
    z-index: $z-index1;
    p {
      text-align: $txt-align1;
      margin-bottom: $margin-btm2;
      color: $color6;
    }
    h2 {
      font-size: $fn-size15;
      margin-bottom: $margn-btm3;
      text-align: $txt-align1;
      font-weight: $fn-weight2;
      color: $color13;
    }
    .passwordinputs {
      margin-top: $margin-top2;
    }
    .checkedandpassword {
      @include Login(center, space-between);

      padding-top: $padding-top9;
      .checked-icons {
        @include Login(center, center);

        h3 {
          color: $color7;
          font-size: $fn-size4;
          font-weight: $fn-weight2;
          margin: $margin1;
          cursor: $cursor;
        }
      }
      .forgot-password {
        a {
          text-decoration: $txt-decoration2;
          font-size: $fnt-size1;
          font-weight: $fn-weight1;
          color: $color12;
          cursor: $cursor;
        }
      }
    }
    .login-button {
      background-color: $back-color12;
      border: $border3;
      width: $width2;
      border-radius: $br-radius4;
      height: $height3;
      color: $color1;
      text-transform: $text-transform1;
      font-size: $fn-size4;
      font-weight: $fn-weight2;
      margin-top: $margin-top;
    }
    .login-social {
      @include Nothelp(center, center, 10px);
      padding: $padding-random5;
      .face-bk {
        margin: $margin1;
        background-color: $back-color11;
        width: $width4;
        height: $height13;
        border-radius: $br-radius4;
        @include Login(center, center);
      }
      .twitter {
        margin: $margin1;
        background-color: $back-color10;
        width: $width4;
        height: $height13;
        border-radius: $br-radius4;
        @include Login(center, center);
      }
      .lnkedin {
        margin: $margin1;
        background-color: $back-color9;
        width: $width4;
        height: $height13;
        border-radius: $br-radius4;
        @include Login(center, center);
      }
    }
    .nothelp {
      @include Nothelp(baseline, center, 12px);

      .dont-account {
        margin: $margin1;
        color: $color7;
        font-size: $fn-size14;
        letter-spacing: $letter-spacing1;
        font-weight: $fn-weight2;
      }
      .toregister {
        a {
          text-decoration: $txt-decoration2;
          margin: $margin1;
          color: $color11;
          font-size: $fn-size14;
          letter-spacing: $letter-spacing1;
          font-weight: $fn-weight2;
        }
      }
    }
  }
}
