@import "../../style//partials//varaible.scss";
@import "../../style/partials/mixin.scss";
#register-page {
  background-color: $back-color8;
  min-height: $min-height1;
  @include Login(center, center);

  .register {
    @media screen and (max-width: 768px) {
      padding: $padding-random4;
    }
    width: $width14;
    max-width: $max-width1;
    margin: 4rem;
    background: $back-color3;
    padding: $padding-random3;
    border-radius: $br-radius3;
    box-shadow: $box-shadow1;
    position: $position-rela;
    z-index: $z-index1;
    p {
      text-align: $txt-align1;
      margin-bottom: $margin-btm2;
      color: $color6;
    }
    h2 {
      font-size: $fn-size15;
      margin-bottom: $margn-btm3;
      text-align: $txt-align1;
      font-weight: $fn-weight2;
      color: $color13;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 28px;
      fieldset {
        position: relative;
        width: 100%;
        legend {
          margin: 0;
          color: #666;
          font-size: 12px;
          background-color: #fff;
          width: 43px;
          position: absolute;
          top: -8px;
          left: 12px;
        }
        input {
          font-size: 13px;
          letter-spacing: 0;
          width: 100%;
          padding: 18px 14px;
          border-radius: 5px;
          border: 1px solid rgba(0, 0, 0, 0.23);
        }

        span {
          font-size: 15px;
          color: red;
        }
      }
    }

    .login-button {
      background-color: $back-color12;
      border: $border3;
      width: $width2;
      border-radius: $br-radius4;
      height: $height3;
      color: $color1;
      text-transform: $text-transform1;
      font-size: $fn-size4;
      font-weight: $fn-weight2;
      margin-top: $margin-top;
    }
    .login-social {
      @include Nothelp(center, center, 10px);
      padding: $padding-random5;
      .face-bk {
        margin: $margin1;
        background-color: $back-color11;
        width: $width4;
        height: $height13;
        border-radius: $br-radius4;
        @include Login(center, center);
      }
      .twitter {
        margin: $margin1;
        background-color: $back-color10;
        width: $width4;
        height: $height13;
        border-radius: $br-radius4;
        @include Login(center, center);
      }
      .lnkedin {
        margin: $margin1;
        background-color: $back-color9;
        width: $width4;
        height: $height13;
        border-radius: $br-radius4;
        @include Login(center, center);
      }
    }
    .nothelp {
      @include Nothelp(baseline, center, 12px);

      .dont-account {
        margin: $margin1;
        color: $color7;
        font-size: $fn-size14;
        letter-spacing: $letter-spacing1;
        font-weight: $fn-weight2;
      }
      .toregister {
        a {
          text-decoration: $txt-decoration2;
          margin: $margin1;
          color: $color11;
          font-size: $fn-size14;
          letter-spacing: $letter-spacing1;
          font-weight: $fn-weight2;
        }
      }
    }
  }
}
