@import "../../style/partials/varaible.scss";
@import "../../style/partials/mixin.scss";
main {
  #about-us {
    .back-img {
      @media screen and (max-width: 768px){
        height: $height5;
      }
      background-image: url(http://consultar-react.wpocean.com/static/media/page-title.be0e30a3.jpg);
      background-position: $back-post1;
      background-repeat: $back-repeat;
      background-size:$back-size1;
      width:$width2;
      height:$height6;
      position:$position-rela;

      .breadcumb-text {
        @media screen and (max-width: 768px){
          height: $height5;
        }
        @include CardHover(center,center,column);
        background-color: $back-color5;
        filter: $filter-one;
        height: $height6;
        p {
          @media screen and (max-width: 768px){
            font-size: $fn-size5;
          }
          color: $color1;
          font-size:$fn-size6;
          font-weight:$fn-weight1;
        }
        .pricing-ul {
          padding: $padding-default;
          list-style: $list-style1;
          @include Person(center,5px);


          .pricing-li1 {
            a {
              text-decoration: $txt-decoration2;
              color: $color1;
              font-size: $fn-size7;
              font-weight: $fn-weight1;
              transition: $transition1;
              &:hover {
                color: $color4;
                font-size:$fn-size7;
                font-weight: $fn-weight1;
              }
            }
          }
          .pricing-li2 {
            color: $color5;

            font-size: $fn-size7;
            font-weight: $fn-weight1;
          }
        }
      }
    }
  }
  #about-section1 {
    padding: $pd-dft4;
    .container {
      .row {
        .about-img {
          @media screen and (max-width: 768px) {
            width: $width-def12;
            margin: $margin12;
          }
          position:$position-rela;
          height:$hgt17;
          width:$width-def13;

          .imgs1 {
            width: $width2;
            height: $height2;
            object-fit:$object-ft1;
            object-position: $object-post1;
            position:$post-sta;
          }

          .imgs2 {
            position:$post-absol;
            top: $top4;
            left:$left7;
            z-index:$z-index3;
            width: $width-def14;
            height: $hgt18;
            object-fit:$object-ft1;
            object-position: $object-post1;
          }
          .imgs3 {
            @media screen and (max-width: 768px) {
              right: $right5;
            }
            position: $post-absol;
            bottom: $bottom6;
            right: $right6;
            width: $width-def17;
            height: $hgt19;
            object-fit: $object-ft1;
            object-position: $object-post1;
          }
        }
        .professional {
          .prof-img {
            width: $width11;
            height:$height12;
            background-color: $back-color18;
            @include Person-line(center,center);
            border-radius: $br-radius4;
            img {
              width: $widht3;
              height: $height3;
              object-fit:$object-ft2;
              object-position: $object-post1;
            }
          }
          h2 {
            @media screen and (max-width: 768px) {
              font-size: $fn-size5;
            }
            color: $color6;
            margin:$margin5 ;
            font-size: $fn-size6;
            font-weight:$fn-weight3;
            span {
              color: $color8;
            }
          }
          p {
            @media screen and (max-width: 768px) {
              font-size: $fn-size4;
              width: $width-def16;
            }
            font-size: $fnt-size1;
            color: $color7;
            line-height: $ln-height7;
            width: $width-def15;
          }
          .prof-img2 {
            width: $width4;
            height: $height15;
            margin-top: $margin-top4;

            img {
              width:$width2;
              height: $height2;
              object-fit:$object-ft2;
              object-position:$object-post1;
            }
          }
          h4 {
            font-size: $fnt-size1;
            color: $color7;
            padding-top: $padding-top14;
          }
          .more {
            padding: $pd-default13;
            margin-top: $margin-top2;
            cursor: $cursor;
            text-transform: $text-transform2;
            border-radius: $br-radius2;
            color: $color1;
            height: $hgt15;
            font-weight: $fn-weight1;
            background:$back-color6;
            border:$border1;
          }
        }
      }
    }
  }
  #banner1 {
    padding-top: $padding-top8;
    .container {
      .row {
        .banner-text {
          @include CardHover(center,center,column);

          p {
            text-transform: $text-transform1;
            font-size: $fn-size2;
            color: $color8;
          }
          .pricing-packages {
            @media screen and (max-width: 768px) {
              font-size: $fn-size5;
            }
            font-size: $fnt-sz4;
            line-height: $ln-height4;
            text-transform: $text-transform2;
            color: $color6;
            font-weight:$fn-weight3;
          }
        }
      }
    }
  }

   #our-services1 {
   background: $back-color16;
    padding-top: $padding-top8;

    .container {
      .row {
        .ourservices-tittle {
          @include CardHover(center,center,column);
          p {
            text-transform:$text-transform1;
            font-size:$fn-size2;
            color: $color8;
          }
          h2 {
            font-size: $fnt-sz4;
            line-height: $ln-height4;
            text-transform: $text-transform2;
            color: $color6;
            font-weight: $fn-weight3;
          }
        }
      }
    }
  }
}
