@mixin SocialMedia($align-items1, $justfy1, $gap1) {
  display: flex;
  align-items: $align-items1;
  justify-content: $justfy1;
  gap: $gap1;
}

@mixin SocialMedia2($align-items2, $justify2) {
  display: flex;
  align-items: $align-items2;
  justify-content: $justify2;
}

@mixin FootContact($flex-direction1, $gap2) {
  display: flex;
  flex-direction: $flex-direction1;
  gap: $gap2;
}

@mixin FootContact-li($align-items3, $gap3) {
  display: flex;
  align-items: $align-items3;
  gap: $gap3;
}

@mixin FootServices($flex-diection2, $gap4) {
  display: flex;
  flex-direction: $flex-diection2;
  gap: $gap4;
}

@mixin FootProjects($align-items4, $gap5) {
  display: flex;
  align-items: $align-items4;
  gap: $gap5;
}

@mixin BreadCumb-Text($flx-direction1, $algn-itms1, $jstfy-cntnt1) {
  display: flex;
  flex-direction: $flx-direction1;
  align-items: $algn-itms1;
  justify-content: $jstfy-cntnt1;
}

@mixin Pricing-UL($algn-itms2, $gap6) {
  display: flex;
  align-items: $algn-itms2;
  gap: $gap6;
}

@mixin Error404($flx-direction2, $algn-itms3, $jstfy-cntnt2) {
  display: flex;
  flex-direction: $flx-direction2;
  align-items: $algn-itms3;
  justify-content: $jstfy-cntnt2;
}

@mixin BreadCumb($flx-direction3, $algn-itms4, $jstfy-cntnt3) {
  display: flex;
  flex-direction: $flx-direction3;
  align-items: $algn-itms4;
  justify-content: $jstfy-cntnt3;
}

@mixin BannerText($flx-direction4, $algn-itms5, $jstfy-cntnt4) {
  display: flex;
  flex-direction: $flx-direction4;
  align-items: $algn-itms5;
  justify-content: $jstfy-cntnt4;
}

@mixin Testimional($algn-itms6, $jstfy-cntnt5) {
  display: flex;
  align-items: $algn-itms6;
  justify-content: $jstfy-cntnt5;
}

@mixin OurClients($algn-itms7, $gap7) {
  display: flex;
  align-items: $algn-itms7;
  gap: $gap7;
}

@mixin Login($algn-itms8, $jstfy-cntnt6) {
  display: flex;
  align-items: $algn-itms8;
  justify-content: $jstfy-cntnt6;
}

@mixin Nothelp($algn-itms9, $jstfy-cntnt7, $gap8) {
  display: flex;
  align-items: $algn-itms9;
  justify-content: $jstfy-cntnt7;
  gap: $gap8;
}

@mixin Person($algn-itms10, $gap9) {
  display: flex;
  align-items: $algn-itms10;
  gap: $gap9;
}

@mixin Person-line($jstfy-cntnt8, $algn-itms11) {
  display: flex;
  justify-content: $jstfy-cntnt8;
  align-items: $algn-itms11;
}

@mixin CardHover($algn-itms12, $jstfy-cntnt9, $flx-direction5) {
  display: flex;
  align-items: $algn-itms12;
  justify-content: $jstfy-cntnt9;
  flex-direction: $flx-direction5;
}



