// Padding
$padding-random:53px 0;
$padding-top1:90px 0;
$padding-top2:28px;
$padding-top3:8px;
$padding-default:0;
$padding-top4:26px;
$padding-top5:7px;
$pd-one:20px 0;
// Margin
$margin1:0;
$margin-btm1:0.8em;

// LINE HEIGHT
$ln-height1:1.9em;
$ln-height2: 1.8em;

// Background Color
$back-color1:#1e2845;
$back-color2:hsla(0, 0%, 100%, 0.1);
$back-color3:#fff;
$back-color4:#141d37;
// COLOR
$color1:#fff;
$color2:#141d37;
$color3:#e5e3e3;
// WiDTH
$width1:200px;
$width2:100%;
$widht3:36px;
$width4:100px;
// HEIHGT
$height1:42px;
$height2:100%;
$height3:36px;
$height4:94px;

// PICTURE STYLE
$object-ft1:cover;
$object-post1:center;
$cursor:pointer;
$transition1:0.3s ease-in-out;

// FONT SIZE
$fnt-size1:16px;
$fn-size2:20px;
$fn-size3:17px;
$fn-size4:14px;
// BORDER RADIUS
$br-radius1:50%;

// TEXT STYLE
$text-transform1:uppercase;
$list-style1:none;
$txt-decoration1:underline;
$txt-decoration2:none;
$txt-align1:center;