// Padding
$padding-random:53px 0;
$padding-random2: 10px 42px;
$padding-random3:70px 28px;
$padding-random4: 70px 50px;
$padding-random5:26px 0px 26px;
$padding-top1:90px 0;
$padding-top2:28px;
$padding-top3:8px;
$padding-default:0;
$padding-top4:26px;
$padding-top5:7px;
$padding-top6:7rem;
$padding-top7:4rem;
$padding-top8:6rem;
$padding-top9:22px;
$pd-one:20px 0;
$pd-bottom1:6rem;
// Margin
$margin1:0;
$margin-btm1:0.8em;
$margin-btm2:20px;
$margn-btm3:30px;
$margin-top1:1rem;
$margin-top:18px;
$margin-top2:22px;

// LINE HEIGHT
$ln-height1:1.9em;
$ln-height2: 1.8em;
$ln-height3:28.8px;
$ln-height4:1em;
$ln-height5:65px;

// Background Color
$back-color1:#1e2845;
$back-color2:hsla(0, 0%, 100%, 0.1);
$back-color3:#fff;
$back-color4:#141d37;
$back-color5:#232f4b;
$back-color6:linear-gradient(270deg, #3757f7, #071e93);
$back-color7:#3757f7;
$back-color8:#f9f9f9;
$back-color9:#0077b5;
$back-color10:#55acee;
$back-color11:#3b5998;
$back-color12:#0a58ca;
$back-plan1:#f28c8c;
$back-plan2:#01c2a9;
$back-plan3:#3757f7;

// COLOR
$color1:#fff;
$color2:#141d37;
$color3:#e5e3e3;
$color4:#0d6efd;
$color5:#cbd4fd;
$color6:#232f4b;
$color7:#4f555a;
$color8:#3757f7;
$color9:#6e6e6e;
$color10:#071e93;
$color11:#0077b5;
$color12:#246fea;
$color13:#666;
// WiDTH
$max-width1: 90%;
$width1:200px;
$width2:100%;
$widht3:36px;
$width4:100px;
$width5:326px;
$width6:444px;
$width7:300px;
$width8:900px;
$width9:106px;
$width10:80px;
$width11:50px;
$width12:442px;
$width13:264px;
$width14:500px;
// HEIHGT
$height1:42px;
$height2:100%;
$height3:36px;
$height4:94px;
$height5:260px;
$height6:380px;
$height7:161px;
$height8:222px;
$height9:65px;
$height10:106px;
$height11:80px;
$height12:50px;
$height13:33px;
$min-height1:100vh;
// PICTURE STYLE
$object-ft1:cover;
$object-post1:center;
$cursor:pointer;
$transition1:0.3s ease-in-out;
$back-post1:center;
$back-repeat:no-repeat;
$back-size1:cover;
$position-rela:relative;
$post-absol:absolute;
$filter-one:opacity(0.7);
$box-shadow1: 0 0 15px rgba(0, 0, 0, 0.05);
$display1:none;
$z-index1:1;
$left1:79px;
$left2:106px;
$bottom1:-25px;
$bottom2:-64px;
// FONT SIZE
$fnt-size1:16px;
$fn-size2:20px;
$fn-size3:17px;
$fn-size4:14px;
$fn-size5:28px;
$fn-size6:46px;
$fn-size7:18px;
$fn-size8:22px;
$fn-size9:15px;
$fn-size10:50px;
$fn-size11:25px;
$fn-size12:26px;
$fn-size13:43px;
$fn-size14:12px;
$fn-size15:13px;

// FONT WEIGHT
$fn-weight1:500;
$fn-weight2:400;
$fn-weight3:600;

// BORDER RADIUS
$br-radius1:50%;
$br-radius2:6px;
$br-radius3:10px;
$br-radius4:5px;
$border1: 1px solid transparent;
$border2: 1px solid #b7b7b7;
$border3:none;
// TEXT STYLE
$text-transform1:uppercase;
$text-transform2:capitalize;
$list-style1:none;
$txt-decoration1:underline;
$txt-decoration2:none;
$txt-align1:center;
$letter-spacing1:0;