// Padding
$padding-random: 53px 0;
$padding-random2: 10px 42px;
$padding-random3: 70px 28px;
$padding-random4: 70px 50px;
$padding-random5: 26px 0px 26px;
$padding-random6: 30px 25px;
$padding-random7: 3rem 0rem 6rem;
$padding-random8: 3rem 0rem 4rem;
$padding-random9: 30px 22px;
$padding-random10: 5px 20px;
$padding-random11: 20px 30px;
$padding-random12: 17px 12px;
$padding-random13: 5rem 0rem 6rem;
$padding-random14: 35px;
$padding-random15: 5rem 0rem;
$padding-random16: 40px;
$padding-random17: 3rem 0rem 3rem;
$padding-random18: 50px 40px;
$padding-random19: 6rem 0rem;
$padding-random20: 0rem 0rem 6rem;
$padding-top1: 90px 0;
$padding-top2: 28px;
$padding-top3: 8px;
$padding-default: 0;
$padding-top4: 26px;
$padding-top5: 7px;
$padding-top6: 7rem;
$padding-top7: 4rem;
$padding-top8: 6rem;
$padding-top9: 22px;
$padding-top10: 9px;
$padding-top11: 10px;
$padding-top12: 20px;
$padding-top13: 14px;
$padding-top14: 18px;
$padding-top15: 15px;
$padding-top16: 8px;
$pd-one: 20px 0;
$pd-bottom1: 6rem;
$pd-default1: 60px 40px;
$pd-default2: 60px;
$pd-default3: 20px 0;
$pd-default4: 18px 45px;
$pd-default5: 3rem 0rem 7rem;
$pd-default6: 50px;
$pd-default7: 30px 25px;
$pd-default8: 4rem 0rem 7rem;
$pd-default9: 50px 40px;
$pd-default10: 20px 0px 17px;
$pd-default11: 9rem 0rem;
$pd-default12: 4rem 0rem;
$pd-default13: 14px 43px;
$pd-default14: 45px 30px;
$pd-default15: 28px 20px 26px;
$pd-default16: 80px 100px;
$pd-default17: 18px 40px;
$pd-default18: 3rem;
$pd-default19: 17px 35px;
$pd-default20: 4rem 0rem 9rem;
$pd-dft1: 3rem 0rem;
$pd-dft2: 36px 30px;
$pd-dft3: 90px 70px;
$pd-dft4: 10rem 0rem 9rem;
$pd-dft5: 10px 40px;
$pd-dft6: 26px;
$pd-dft: 25px;
$pd-df7: 10px 44px;
$pd-df8: 4rem 0rem 4rem;
$pd-df9: 7rem 0rem 7rem;
$pd-df10: 2rem 0rem;
$pd-df11: 25px 35px 45px;
$pd-df12: 30px 40px;
$pd-df13: 10px 90px 10px 20px;
$pd-df14: 5px 18px;
$pd-df15: 6px 50px 6px 20px;
$pd-df16: 45px;
$pd-df17: 48x;
$pd-df18: 65px;
$pd-df19: 2rem;
$pd-df20: 6px 15px;
$pd-df21: 2rem;
$pd-df22: 5px;
$pd-df23: 40px 0;
$pd-df24: 0 25px;
$pd-df25: 5rem;
$pd-df26: 3rem 1rem;

// Margin
$margin1: 0;
$margin2: 16px 0;
$margin3: 20px 0 0;
$margin4: 20px 0;
$margin: 10px 0 25px;
$margin5: 30px 0;
$margin6: 20px 0;
$margin7: 3rem;
$margin8: 4rem 0rem;
$margin9: 4rem;
$margin10: 0 0 40px;
$margin11: 0 8px 8px 0;
$margin12: 0 auto;
$margin-btm1: 0.8em;
$margin-btm2: 20px;
$margn-btm3: 30px;
$margn-btm4: 60px;
$margin-btm5: 15px;
$margin-top1: 1rem;
$margin-top: 18px;
$margin-top2: 22px;
$margin-top3: -78px;
$margin-top4: 35px;
$margin-top5: 24px;
$margin-top6: 28px;
$margin-top7: 19px;
$margin-top8: 3rem;
$margin-top9: 2rem;

// LINE HEIGHT
$ln-height1: 1.9em;
$ln-height2: 1.8em;
$ln-height3: 28.8px;
$ln-height4: 1em;
$ln-height5: 65px;
$ln-height6: 36px;
$ln-height7: 29px;
$ln-height8: 23px;
$ln-height9: 26px;
$ln-height10: 53px;
$ln-height11: 90px;
$ln-height12: 35px;
$ln-height13: 50px;
$ln-height14: 27px;
// Background Color
$back-color1: #1e2845;
$back-color2: hsla(0, 0%, 100%, 0.1);
$back-color3: #fff;
$back-color4: #141d37;
$back-color5: #232f4b;
$back-color6: linear-gradient(270deg, #3757f7, #071e93);
$back-color7: #3757f7;
$back-color8: #f9f9f9;
$back-color9: #0077b5;
$back-color10: #55acee;
$back-color11: #3b5998;
$back-color12: #0a58ca;
$back-color13: #f3f3fb;
$back-color14: #0d6efd;
$back-color15: #f5f5f5;
$back-color16: #f4f8fc;
$back-color17: #f4f6fd;
$back-color18: #f3f6fe;
$back-color19: #a5e2f3;
$back-color20: #edf2f8;
$bck-color1: #1534d0;
$bck-color2: #f4f6fa;
$bck-color3: -webkit-gradient(
  linear,
  left top,
  right top,
  from(#071e93),
  to(#3757f7)
);
$bck-color4: #f2f2f2;
$bck-color5: #ecf4fb;
$bck-color6: rgba(55, 87, 247, 0.05);
$bck-color7: transparent;
$bck-color8: #ebf4fc;
$bck-color9: none;

$back-plan1: #f28c8c;
$back-plan2: #01c2a9;
$back-plan3: #3757f7;
$back-plan4: #ffcd40;
// COLOR
$color1: #fff;
$color2: #141d37;
$color3: #e5e3e3;
$color4: #0d6efd;
$color5: #cbd4fd;
$color6: #232f4b;
$color7: #4f555a;
$color8: #3757f7;
$color9: #6e6e6e;
$color10: #071e93;
$color11: #0077b5;
$color12: #246fea;
$color13: #666;
$color14: #848892;
$color15: #eaedfd;
$color16: #8188a9;
$color17: #676767;
$color18: #838383;
$color19: #e7e7e7;
$color20: rgb(55, 87, 247);
// WiDTH
$max-width1: 90%;
$max-width2: 595px;
$width1: 200px;
$width2: 100%;
$widht3: 36px;
$width4: 100px;
$width5: 326px;
$width6: 444px;
$width7: 300px;
$width8: 900px;
$width9: 106px;
$width10: 80px;
$width11: 50px;
$width12: 442px;
$width13: 264px;
$width14: 500px;
$width15: 45px;
$width16: 30px;
$width17: 20px;
$width18: 85px;
$width19: 90px;
$width20: 55px;
$width-def1: 53px;
$width-def2: 327px;
$width-def3: 425px;
$width-def4: 322px;
$width-def5: 72px;
$width-def6: 76px;
$width-def7: 60px;
$width-def8: 690px;
$width-def9: 300px;
$width-def10: 530px;
$width-def11: 48px;
$width-def12: 340px;
$width-def13: 520px;
$width-def14: 198px;
$width-def15: 676px;
$width-def16: 331px;
$width-def17: 114px;
$width-def18: 2px;
$width-def19: 336px;
$width-def20: 50%;
$width-def21: 67%;
$width-def22: 487px;
$width-def23: 75px;
$width-def24: 55px;
$width-def25: 80%;
$width-def26: 108px;
$width-def27: 112px;
$width-def28: 40px;
$width-def29: 86px;
$width-def30: 160px;
$width-def31: 190px;
$width-def32: 570px;
$width-def33: 336px;
$width-def34: 162px;
$width-def35: 420px;
$width-def36: 120px;
$width-def37: 530px;

// HEIHGT
$height1: 42px;
$height2: 100%;
$height3: 36px;
$height4: 94px;
$height5: 260px;
$height6: 380px;
$height7: 161px;
$height8: 222px;
$height9: 65px;
$height10: 106px;
$height11: 80px;
$height12: 50px;
$height13: 33px;
$height14: 280px;
$height15: 45px;
$hgt1: 400px;
$hgt2: 490px;
$hgt3: 30px;
$hgt4: 20px;
$hgt5: 85px;
$hgt6: 90px;
$hgt7: 55px;
$hgt8: 53px;
$hgt9: 80px;
$hgt10: 72px;
$hgt11: 374px;
$hgt12: 76px;
$hgt13: 422px;
$hgt14: 60px;
$hgt15: 58px;
$hgt16: 48px;
$hgt17: 650px;
$hgt18: 200px;
$hgt19: 114px;
$hgt20: 900px;
$hgt21: 45px;
$hgt22: 180px;
$hgt23: 62px;
$hgt24: 75px;
$hgt25: 4px;
$hgt26: 70px;
$hgt27: 92px;
$hgt28: 40px;
$hgt29: 86px;
$hgt30: 160px;
$height-random1: 206px;
$height-random2: 500px;
$height-random3: 190px;
$height-random4: 570px;
$height-random5: 120px;
$height-random6: 273px;
$height-random7: 220px;
$heigth-random8: 336px;
$min-height1: 100vh;
// PICTURE STYLE
$object-ft1: cover;
$object-ft2: contain;
$object-post1: center;
$cursor: pointer;
$transition1: 0.3s ease-in-out;
$transition2: all 0.3s;
$back-post1: center;
$back-repeat: no-repeat;
$back-size1: cover;
$position-rela: relative;
$post-absol: absolute;
$post-sta: static;
$filter-one: opacity(0.7);
$filter-two: brightness(0.9);
$filter-three: opacity(0.5);
$box-shadow1: 0 0 15px rgba(0, 0, 0, 0.05);
$box-shadow2: 0 5px 15px 0 rgba(62, 65, 159, 0.1);
$box-shadow3: none;
$box-shadow4: 0 2px 20px 0 rgba(62, 65, 159, 0.09);
$box-shadow5: 0 3px 12px 0 rgba(62, 65, 159, 0.08);
$box-shadow6: 0 1px 20px 0 rgba(43, 45, 118, 0.1);
$box-shadow7: 0 1px 15px 0 rgba(62, 65, 159, 0.1);
$overflow1: hidden;
$transform1: translateY(0px);
$transform2: translateY(-491px);
$transform3: translateY(-400px);
$transform4: translateY(-50%);
$clip-path1: polygon(0 0, 75% 0, 90% 100%, 0 100%);
$display1: none;
$display2: inline-block;
$display3: block;
$z-index1: 1;
$z-index2: 11;
$z-index3: -1;
$z-index4: -11;
$z-index5: 99;
$z-index6: 999;
$z-index7: 888;
$z-index8: 9999;
$opacity1: 0;
$opacity2: 1;
$opacity3: 0.5;
$visiblty1: hidden;
$visiblty2: visible;
$top1: 0;
$top2: -26px;
$top3: 191px;
$top4: -59px;
$top5: 143px;
$top6: 10px;
$top7: 52%;
$top8: -42px;
$top9: -22px;
$left1: 79px;
$left2: 106px;
$left3: 0;
$left4: -52px;
$left5: 79px;
$left6: -3px;
$left7: -39px;
$left8: 65px;
$right1: 0;
$right2: -10px;
$right3: 244px;
$righ4: -3px;
$right5: 1px;
$right6: -36px;
$right7: -17px;
$right8: 13px;
$right9: 10px;
$right10: -109px;
$right11: -68px;
$right12: 154px;
$right13: 417px;
$bottom1: -25px;
$bottom2: -64px;
$bottom3: -20px;
$bottom4: 30px;
$bottom5: -3px;
$bottom6: -36px;
$bottom7: -13px;
// FONT SIZE
$fnt-size1: 16px;
$fn-size2: 20px;
$fn-size3: 17px;
$fn-size4: 14px;
$fn-size5: 28px;
$fn-size6: 46px;
$fn-size7: 18px;
$fn-size8: 22px;
$fn-size9: 15px;
$fn-size10: 50px;
$fn-size11: 25px;
$fn-size12: 26px;
$fn-size13: 43px;
$fn-size14: 12px;
$fn-size15: 13px;
$fn-size16: 19px;
$fn-size17: 24px;
$fn-size18: 21px;
$fn-size19: 28px;
$fn-size20: 32px;
$fnt-sz1: 59px;
$fnt-sz2: 48px;
$fnt-sz3: 29px;
$fnt-sz4: 47px;
$fn-size5: 30px;
$fn-size6: 44px;
$fn-sz7: 27px;
$fn-sz8: 67px;
$fn-sz9: 56px;
$fn-sz10: 33px;
$fn-sz11: 36px;
$fn-sz12: 23px;
// FONT WEIGHT
$fn-weight1: 500;
$fn-weight2: 400;
$fn-weight3: 600;
$fn-weight4: 700;
$fn-weight5: 800;
$fn-weight6: 900;

// BORDER RADIUS
$br-radius1: 50%;
$br-radius2: 6px;
$br-radius3: 10px;
$br-radius4: 5px;
$br-radius5: 3px;
$br-radius6: 0;
$br-radius7: 20px;
$br-radius8: 15px;
$br-radius9: 30px;
$border-top1: 1px solid #f3f3fb;
$border-top2: 1px solid #d8e0f1;
$border1: 1px solid transparent;
$border2: 1px solid #b7b7b7;
$border3: none;
$border4: 1px solid #fff;
$border5: 1px solid #3757f7;
$border6: 1px solid #a4adbe;
$border-top-left-radius1: 6px;
$border-top-right-radius1: 6px;
$border-bottom-left-radius1: 6px;
$border-bottom-right-radius1: 6px;
$border-bottom1: 1px solid #e4effb;
$border-bottom2: 1px solid #f2f2f2;
$border-bottom3: 1px solid #ebebeb;
$border-bottom4: 3px solid #3757f7;
$border-bottom5: 1px solid #e1e1e1;
$border-left1: 2px solid #676767;
$border-left2: 3px solid #3757f7;
// TEXT STYLE
$text-transform1: uppercase;
$text-transform2: capitalize;
$text-transform3: none;
$list-style1: none;
$txt-decoration1: underline;
$txt-decoration2: none;
$txt-align1: center;
$txt-align2: end;
$text-align3: left;
$text-align4: right;
$letter-spacing1: 0;
$letter-spacing2: 2px;
$letter-spacing3: 3px;
$float1: left;
$outline1: 0;
