@import "../../style/partials/varaible.scss";
@import "../../style/partials/mixin.scss";

#testimionalslide {
  padding:$pd-default8;
  @media screen and (max-width: 768px) {
  }
  .container {
    .row {
      .swiper {
        height: $hgt13;
        .testimional-card {
          padding:$pd-default9 ;
          box-shadow:$box-shadow5 ;

          h6 {
            text-align:$txt-align2;
            svg {
              color:$color15 ;
              font-size:$fn-size6;
            }
          }
          img {
            width: $width-def7;
            height:$hgt14;
            border-radius: $br-radius1;
          }
          h4 {
            font-size: $fn-size9;
            color: $color7;
            font-weight: $fn-weight2;
            line-height:$ln-height3;
            margin:$margin1;
            padding: $pd-default10;
          }
          h5 {
            margin: $margin1;
            color: $color10;
            font-weight:$fn-weight3;
          }
          h3 {
            font-size: $fn-size9;
            color: $color7;
            font-weight: $fn-weight2;
            line-height: $ln-height3;
            margin: $margin1;
          }
        }
      }
    }
  }
}
