@import ".../../../../style/partials//varaible.scss";
@import ".../../../../style//partials//mixin.scss";
main {
  #error404 {
    padding-bottom: $pd-bottom1;
    .container {
      .row {
        .error404-sec {
          @include Error404(column,center,center);
          padding-top:$padding-top6;
          .error404-img {
            @media screen and (max-width: 768px) {
              width: $width5;
              height: $height7;
            }
            width: $width6;
            height: $height8;
            img {
              width: $width2;
              height: $height2;
              object-fit: $object-ft1;
              object-position: $object-post1;
            }
          }
          .error404-text {
            @include Error404(column,center,center);
            p {
              color: $color6;
              font-size:$fn-size8;
              font-weight: $fn-weight1;
              padding-top:$padding-top7;
            }
            h3 {
              @media screen and (max-width: 768px) {
                width: $width7;
              }
              font-size: $fn-size9;
              color:$color7 ;
              line-height:$ln-height3 ;
              font-weight:$fn-weight2;
              width: $width8;
              text-align: $txt-align1;
            }
            .turnhome {
              padding:$padding-random2;
              cursor: $cursor;
              text-transform:$text-transform2 ;
              border-radius:$br-radius2;
              color: $color1;
              margin-top:$margin-top1;
              font-weight: $fn-weight1;
              height: $height9;
              background: $back-color6;
              border:$border1;
              a {
                text-decoration: $txt-decoration2;
                color: $color1;
              }
            }
          }
        }
      }
    }
  }
}
